/* Fulla d'estils on els SELECTS, INPUT FILE, etc. estan alineats a l'esquerra.
Per fer aquesta alineació a estat necessari emprar left i posicions absolutes */


/***********************************************************************/
/**************** ROL BackOffice Styles GENERALS ***********************/
/***********************************************************************/
BODY			{
    				font-family: verdana, arial, helvetica, sans-serif;
    				font-size: 8pt;
    				color: #515b67;
					background-color: #ffffff;
					margin: 0px;
					border: 0px;
					padding: 0px;
				}

P				{
					text-indent:10px;
					text-align:justify;
					line-height:1.2;
					margin:0px;
					border:0px;
					padding-bottom:10px;
				}

A:link, A:visited {
					/*color:#001F2D;*/
					color: black;
					text-decoration: underline;
				}

A:hover, A:active {
					color:#bac2cd;
					text-decoration: underline;
				}

#cidentificacio	{
					background-color: #f3f4f5;
    				margin: 2px 2px;
                    border: 3px double #515b67;
					width: 180px;
					height : 32px;
					position:absolute;
				}

#cmenu		{
					background-color: #515b67;
    				margin: 4px 0px;
					border: 0px;
					width: 194px;
					position:absolute;
					top:44px;
					vertical-align:top;
				}

#ccontingut	{
					background-color: #ffffff;
    				border: 0px;
					padding: 3px;
					position:absolute;
					left:200px;
					vertical-align:top;
					float:right;
				}

/** Estils ticulars per a la pagina de login, se empren per centrar el formulari **/

#centrardedins	{
					width:606px;
					left:50%;
					margin-left:-303px;
					position:relative;
				}

#centrardefora	{
					width:100%;
					margin-top:20px;
					position:absolute;
				}


/***********************************************************************/
/*********** ROL Styles del MENU ***************************************/
/***********************************************************************/
.identificacio	{
               font-family: sans-serif;
					font-size: 10pt;
					font-weight: normal;
    				color: #000000;
					padding: 3px 5px;
				}

.salir
        {

            color: #515b67;
            text-align: center;
            text-transform: uppercase;
            vAlign: middle;
            border: 1px solid #d8dfe7;
            padding: 3px 3px;
            background-image: url(../img/boton.jpg);
        }


.menu			{
		    		font-size: 8pt;
					color: #d8dfe7;
					padding: 3px;
				}


.menu OL		{
    				padding: 0px 0px 0px 0px;
					margin: 10px 0px 15px 1px;
					border: 0px;
					list-style-type: decimal;
					list-style-position: inside;
				}

.menu UL    { list-style-position: outside; }


.menu OL LI	{
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 15px 0px;
					font-weight: bold;
				}

.menu OL LI UL	{
                    color: #000000;
                    background-color: #d8dfe7;
					background-image: url(../img/fonsmenu.gif);
					padding: 0px 0px 0px 0px;
					margin: 5px 0px 0px 0px;
                    border-bottom: 1px solid #515b67;
					list-style-type: none;
				}

.menu OL LI UL LI	{
                    border-top: 1px solid #515b67;
					padding: 2px 5px 2px 5px;
					margin: 0px 0px 0px 0px;
					font-weight: normal;
    			    }

.menu OL LI UL LI UL{
                    border: none;
                    border-top: 1px solid #515b67;
                    background-color: transparent;
                    background-image: none;
                    padding: 0px 0px 0px 0px;
                    margin: 5px 0px 5px 10px;
                    font-weight: normal;
        			}

.menu OL LI UL LI UL LI{
                        border: none;
                        border-right: 1px solid #515b67;
                        border-left: 1px solid #515b67;
                        border-bottom: 1px solid #515b67;
                        padding: 2px 0px 2px 5px;
                        margin: 0px 0px 0px 0px;
                        font-style: italic;
                        }

.menu A:link   { color: #000000	   text-decoration: none; }
.menu A:visited{ color: #000000;	text-decoration: none; }
.menu A:hover  { color: #cea8bb;	text-decoration: none; }
.menu A:active	{ color: #cea8bb; text-decoration: none; }


.menu UL A:link   { color: #000000;	text-decoration: none; }
.menu UL A:visited{ color: #000000;	text-decoration: none; }
.menu UL A:hover  { color: #d80000;	text-decoration: none; }
.menu UL A:active	{ color: #000000; text-decoration: none; }


/***********************************************************************/
/*********** ROL Styles del CONTINGUT *****************************/
/***********************************************************************/

.bloc 		{
					font-size: 8pt;
					background-color: #d8dfe7;
					border-top: 3px solid #e9edf0;
    				border-right: 3px outset #e9edf0;
    				border-bottom: 3px outset #e9edf0;
    				border-left: 3px solid #e9edf0;
    				border-spacing: 2px;
    				padding: 0px 0px 2px 2px;
					width: 600px;
				}

.bloc H1		{
    				font-weight: normal;
    				font-size: 14pt;
    				text-align: center;
    				margin: 0px;
					border: 0px;
					padding: 2px;
   	 		}

.bloc H2		{
					font-weight: normal;
					font-size: 8pt;
    				text-align: center;
    				margin: 0px;
					border: 0px;
					padding: 2px;
				}

.titolbloc	{
    				font-weight: normal;
    				font-size: 12pt;
    				text-align: left;
    				margin: 0px;
					border: 0px;
					padding: 2px;
					margin: 2px;
					border: 2px solid #FFFFFF;
				}

.component 	{
					margin: 0px;
    				border: 0px;
					padding:0px;
					position: relative;
				}

.component INPUT.btext	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: left;
    				vertical-align: top;
    				width: 432px;
    				height: 20px;
    				margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 4px 2px 4px 2px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component INPUT.ctext	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: left;
    				vertical-align: top;
    				width: 300px;
    				height: 20px;
    				margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 4px 2px 4px 2px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component a.ctext	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					background-color: #FFFFFF;
					text-align: left;
    				vertical-align: top;
    				width: 300px;
    				height: 14px;
    				margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 4px 2px 4px 2px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component INPUT.bfile	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: left;
    				vertical-align: top;
    				width: 300px;
					height: 22px;
    				margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 5px 2px 5px 2px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component TEXTAREA{
			    	font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: left;
    				vertical-align: top;
    				width: 432px;
			    	height: 39px;
					margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 4px 2px 4px 2px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component SELECT	{
			    	font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: left;
    				vertical-align: top;
    				width: 300px;
					height: 22px;
					margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 1px 1px 1px 1px;
					position: absolute;
					top: 0px;
					left:156px;
				}

.component SELECT.doble	{
						height: 58px;
				}

.areaboto	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					text-align: left;
    				vertical-align: top;
					width: 432px;
					margin: 1px 1px 1px 1px;
    				border: 1px solid #515B67;
					padding: 2px 2px 2px 2px;
					position: absolute;
					top: 0px;
					left:156px;
    			}

.opcio		{
    				width: 102px;
					margin: 0px 2px 0px 2px;
    				border: 0px;
					padding: 0px;
					position:relative;
					top: 0px;
					left: 0px;
					float:left;
				}

.etiqueta	{
					text-align: right;
    				vertical-align: top;
    				width: 140px;
					margin: 2px;
    				border: 1px solid #ffffff;
					padding: 5px 5px 5px 5px;
					position:relative;
					left: 0px;
					top: 0px;
				}

.pestanyes	{
					font-size: 8pt;
			    	margin: 0px;
    				border: 0px;
					padding: 0px;
					width: 606px;
					height: 20px;
					text-align: center;
    				text-decoration: none;
					position: relative;
				}

.pestanyes DIV	{
    				margin:0px 1px 0px 0px;
					padding: 2px 2px 0px 2px;
					position:relative;
					width: 70px;
					height:20px;
					float:left;
				}

.tab	 		{
					background-color: #e9edf0;
					border-top: 2px solid #e9edf0;
    				border-right: 2px outset #e9edf0;
    				border-bottom: 0px solid #e9edf0;
    				border-left: 2px solid #e9edf0;
				}

.notab		{
					background-color: #99a6b3;
					border-top: 2px solid #ffffff;
	    			border-right: 1px solid #ffffff;
    				border-bottom: 0px;
    				border-left: 1px solid #ffffff;
				}

A.notabb:link, A.notabb:visited{
					color: #495B67;
					text-decoration: none;
				}

A.notabb:hover, A.notabb:active	{
					color:#FFFBF5;
					text-decoration: none;
				}

.botonera	{
			    	margin: 15px 0px 10px 0px;
    				border: 0px;
					padding: 0px;
					width: 606px;
					height: 27px;
					position: relative;
				}

.botonera INPUT	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #515B67;
					padding: 2px 0px 2px 0px;
			    	width: 82px;
					height: 23px;
					background-image: url(../img/fonsboto.gif);
					background-color: #dae2ed;
					position: relative;
				}

.dreta		{
					margin-left:5px;
					float: right;
				}

.esquerra	{
					margin-right:5px;
					float:left;
				}

#capes 		{
					margin: 0px;
    				border: 0px;
					padding: 0px;
					width: 606px;
					position:relative;
				}

.capa			{
					margin: 0px;
    				border: 0px;
					padding: 0px;
					width: 606px;
					vertical-align:top;
					position:absolute;
					left:0px;
					top:0px;
					visibility:hidden;
					z-index:200;
				}

#capa0 		{
					position:relative;
					visibility: visible;
				}

/***********************************************************************/
/****** ROL BackOffice Styles REPRESENTACIO DE DADES *******************/
/***********************************************************************/

.textdreta	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 432px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:157px;
				}
.textesquerra	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 432px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textconsulta1	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 494px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textconsulta2	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 408px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textconsulta3	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 322px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textample	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					background-color: #ffffff;
					text-align: justify;
    				vertical-align: top;
    				width: 588px;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textseparat 	{
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #000000;
					text-align: justify;
    				vertical-align: top;
    				margin: 2px 1px 2px 1px;
    				border: 0px;
 					padding: 0px;
					position: relative;
					top: 1px;
					left:1px;
				}

.textseparat2 	{
    				margin: 0px;
    				border: 0px;
 					padding: 0px;
					position: relative;
					top: 0px;
					left:0px;
				}

.textpetit	{
					background-color: #ffffff;
					padding: 7px 2px 6px 2px;
    				width: 36px;
					position: absolute;
					text-align: right;
					top: 0px;
					left:0px;
				}

.textpetit1	{
					background-color: #ffffff;
					padding: 7px 2px 6px 2px;
    				width: 244px;
					position: absolute;
					text-align: left;
					top: 0px;
					left:0px;
				}

.textgros1	{
					background-color: #ffffff;
    				width: 452px;
					border: 0px;
					padding: 7px 2px 6px 2px;
					position: relative;
					top: 0px;
					left:42px;
				}

.textgros2	{
					background-color: #ffffff;
    				width: 366px;
					border: 0px;
					padding: 7px 2px 6px 2px;
					position: relative;
					top: 0px;
					left:42px;
				}

.textgros3	{
					background-color: #ffffff;
    				width: 280px;
					border: 0px;
					padding: 7px 2px 6px 2px;
					position: relative;
					top: 0px;
					left:42px;
				}

.textgros4	{
					color: #000000;
					text-align: justify;
					background-color: #ffffff;
    				width: 337px;
					border: 0px;
					padding: 7px 2px 6px 2px;
					position: relative;
					top: 1px;
					left:158px;
				}

.textgros5	{
					background-color: #ffffff;
    				width: 244px;
					border: 0px;
					padding: 7px 2px 6px 2px;
					position: relative;
					top: 0px;
					left:250px;
				}


.texte1parts{
                    background-color: #ffffff;
                    padding: 7px 2px 6px 2px;
                    width: 160px;
                    position: absolute;
                    text-align: left;
                    top: 0px;
                    left:0px;
            }


.texte2parts{
                    background-color: #ffffff;
                    padding: 7px 2px 6px 2px;
                    width: 160px;
                    position: absolute;
                    text-align: left;
                    top: 0px;
                    left:167px;
            }

.texte3parts{
                    background-color: #ffffff;
                    padding: 7px 2px 6px 2px;
                    width: 160px;
                    position: relative;
                    text-align: left;
                    top: 0px;
                    left:334px;
            }


.etiquetadreta{
					text-align: right;
    				vertical-align: top;
    				width: 140px;
					margin: 2px;
    				border: 1px solid #ffffff;
					padding: 5px;
					position:absolute;
					top: 0px;
					left: 0px;
				}

.etiquetadreta1	{
					text-align: right;
    				vertical-align: top;
    				width: 140px;
					margin: 2px;
					border: 1px solid #ffffff;
					padding: 5px;
					position:absolute;
					top: 0px;
					left: 0px;
				}

.etiquetaesquerra	{
					text-align: left;
    				vertical-align: top;
    				width: 140px;
					margin: 2px;
    				border: 1px solid #ffffff;
					padding: 5px;
					position:absolute;
					top: 0px;
					left: 439px;
				}

.botoneraconsulta1 {
			    	margin: 1px;
    				border: 0px;
					padding: 0px;
					width: 90px;
					height: 27px;
					position: absolute;
					left: 502px;
					top: 0px;
				}

.botoneraconsulta2	{
			    	margin: 1px;
    				border: 0px;
					padding: 0px;
					width: 176px;
					height: 27px;
					position: absolute;
					left: 416px;
					top: 0px;
				}

.botoneraconsulta3	{
			    	margin: 1px;
    				border: 0px;
					padding: 0px;
					width: 262px;
					height: 27px;
					position: absolute;
					left: 330px;
					top: 0px;
				}

.botoneraconsulta1 INPUT, .botoneraconsulta2 INPUT, .botoneraconsulta3 INPUT {
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #515B67;
					margin:2px;
					padding: 2px 0px 2px 0px;
					width: 82px;
					height: 23px;
					background-image: url(../img/fonsboto.gif);
					background-color: #dae2ed;
					float: right;
					position: relative;
				}

.checkconsulta1 {
			    	margin: 1px;
    				border: 0px;
					padding: 4px 0px;
					width: 110px;
					height: 27px;
					position: absolute;
					left: 482px;
					top: 0px;
				}

.checkconsulta1 INPUT {
					margin: 0px 4px;
					padding: 0px;
					height: 18px;
					float: left;
					position: relative;
				}


.bototext {
			    	margin: 1px;
    				border: 0px;
					padding: 0px 0px 0px 0px;
					width: 90px;
					height: 18px;
					position: absolute;
					left: 502px;
					top: 0px;
					text-align: center;
				}

.bototext A:link, .bototext A:visited{
					color: #495B67;
					text-decoration: none;
				}

.bototext A:hover, .bototext A:active	{
					color:#678091;
					text-decoration: none;
				}
.bototext INPUT {
					font-family: verdana, arial, helvetica, sans-serif;
					font-size: 8pt;
					color: #515B67;
					padding: 2px 0px 2px 0px;
			    	width: 82px;
					height: 23px;
					background-image: url(../img/fonsboto.gif);
					background-color: #dae2ed;
					position: relative;
				}

FORM {
        padding: 0px;
        margin: 0px;
     }

/***********************************************************************/
/**************** AÑADIDOS POR VRS ***********************/
/***********************************************************************/

#contenidosGestorNoMenu { border-left:10px solid #FFF; border-right:10px solid #FFF;  }

#contenidosGestorNoMenu h1 { font-size:2em; color:#515B67; margin:0 0 10px 0; padding:0; border-bottom:2px dashed #F8EEEB; font-weight:normal; }

#contenidosGestor #listadoItems { border:0; border-bottom:1px solid #E7E7E7; }

table.listadoItems th { font-size:8pt; color:#FFFFFF; background-color:#515B67; border-right:1px solid #FFF; text-align:center; padding:3px 2px; white-space:nowrap; }
table.listadoItems th.peque { width:1%; white-space:nowrap; }
table.listadoItems th.editar { background-color:#FFFFFF; width:7em; }
table.listadoItems th img { margin-right:0; }
table.listadoItems tr.par { background-color:#D8DFE7; }
table.listadoItems tr.impar { background-color:#E9EDF1; }
table.listadoItems tr.alpha { color:#000000; }
table.listadoItems td { font-size:8pt; padding:3px 2px !important; }
table.listadoItems img { vertical-align:middle; margin-right:5px; }
table.listadoItems .centrado { text-align:center; }
table.listadoItems a { color:#33716F; }

input.boton { border-color:#525252; color:#525252; font-weight:bold; padding:2px 5px; background:url(../imgs/form/fondo_boton.gif) repeat-x bottom #EEEEEE; }

#mensaAviso { width:80%; border:1px solid #EAE3E2; margin:20px; font-size:8pt;}
#mensaAviso td.etiqueta { text-align:right; width:20%; font-weight:bold; }
#mensaAviso td.boton { text-align:center; background-color:#E8E8E8; padding:10px; }
#mensaAviso td.enlaces { text-align:center; padding:10px; }
#mensaAviso td.enlaces a { color:#33716F; margin:0 20px; }
