@charset "utf-8";

/* llistats table */


div.llistat div.nom { 
    width: 400px;   
    padding-left: 21px;
}
div.llistat div.th.procedimiento{
    width: 429px;
    padding-left: 21px;
}
div.llistat div.familia{
    width: 300px;
}
div.llistat div.fechaActualizacion{
    width: 200px;
}
div.llistat div.publicacio{ 
    width: 200px;
    padding: 0 12px;
}
div.llistat div.caducitat  { 
    width: 200px;
    padding: 0 12px;
}
div.publicacion_2campos {
    clear: both;
}
div.publicacion_2campos div.element{
    width: 49%;
    margin-bottom: 20px;
}
div.publicacion_2campos div.left{
    float: left;
}
div.publicacion_2campos div.right{
    float: right;
}
div.publicacion_2campos input, div.publicacion_2campos select{
    width: 99%;
}

div.llistat div.tbody div.procedimentCaducat {
    background: url("../img/taula_llistat/procediment_caducat.gif") no-repeat scroll 21px 7px transparent;
    padding-left: 50px;
    width: 400px;
}
div.llistat div.tbody div.procediment {
    background: url("../img/taula_llistat/procediment.gif") no-repeat scroll 21px 7px transparent;
    padding-left: 50px;
    width: 400px;
}

#escriptori_detall .organoCompetente, #escriptori_detall .organoResponsable{
    float: none;
}
#escriptori_detall .organoCompetente .campo, #escriptori_detall .organoResponsable .campo{
    width: 502px;
    float: left;
}
#escriptori_detall .organoCompetente .botones, #escriptori_detall .organoResponsable .botones{
    float: right;
}
#escriptori_detall .organoCompetente .botones .btnCambiar, #escriptori_detall .organoResponsable .botones .btnCambiar{
    margin-right: 17px;
}