@charset "utf-8";

/* formateig */

body, form, table, caption, tr, td, ul, ol, li, dl, dt, dd, img, button, p, h1, h2, h3, h4, h5, h6, object, iframe, legend, fieldset { margin:0; padding:0; outline:0; border: none; }
img { border:0; }

/* comuns */

body { 
    font:normal 88% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; 
    color:#000; 
    background-color: #F8F8F8;
}

a { color:#0054ff; text-decoration:underline; cursor:pointer; }
a.destacat { color:#c00; }
a.destacat:hover { color:#000; }

a.marcador { font-style:italic; padding-left:1.5em; background:transparent url(../img/botons/destacar.gif) no-repeat left center; white-space:nowrap; }

.invisible { display:none; }
.important { font-weight:bold !important; }

input, select, textarea, button { font:normal 1em Arial, Helvetica, sans-serif; color:#000; line-height:1.3em !important; }
input, select, textarea { background-color:#fff; border:1px solid #7f7f7f; }
button { overflow:visible; padding:.1em .7em; cursor:pointer; }
/*input, textarea { padding:.2em; }*/
select { padding:.1em; }

input:focus, 
textarea:focus, 
input.focus,
textarea.focus { 
    border:1px solid #000 !important;
    color: Black !important;
}

input[type=text], select, textarea{
    border: 1px solid #CACACA;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    color: #666666;
}

h1 { font-size:1.5em; margin-bottom:.8em; }
h2 { font-size:1.2em; margin-top:1.5em;  }
h3 { font-size:1.1em; margin-top:1em; }
h4 { font-size:1em; margin-top:1em; }

p { line-height:1.4em; margin:.6em 0; }

div:focus { outline:1px dashed #c00; }

.clear {
    clear: both;
}

/* botons */

/*
a.btn { overflow:visible; display:inline-block; font:normal 1em Arial, Helvetica, sans-serif; color:#333; text-decoration:none; padding:3px 0; margin:0; background:none; border-width:0; }
a.btn span { padding:2px 0; margin:0; background:#eee url(../img/botons/fons_boto.gif) repeat-x left bottom; border-right:1px solid #aaa; border-left:1px solid #bbb; }
* html a.btn span { padding-top:0; }
a.btn span span { position:relative; padding:2px .5em; border-width:0; border-top:1px solid #bbb; border-bottom:1px solid #aaa; white-space:nowrap; }
a.btn:hover span, a.btn:focus span, a.btn:active span { color:#000; cursor:pointer; background-color:#ff9; border-color:#9cf !important; outline:none; }
*/
.btnGenerico{
    float:left;    
}
.btnGenerico{
    background: url(../img/botons/generico/cen.gif) 0 0 repeat-x;
}
.btnGenerico:hover{
    background-image: url(../img/botons/generico/cen_over.gif);
}
.btnGenerico a{
    background: url(../img/botons/generico/izq.gif) 0 0 no-repeat;
}
.btnGenerico:hover a{
    background-image: url(../img/botons/generico/izq_over.gif);
}
.btnGenerico a > span{
    background: url(../img/botons/generico/der.gif) 100% 0 no-repeat;    
}
.btnGenerico:hover a > span{
    background-image: url(../img/botons/generico/der_over.gif);  
}
.btnGenerico a,
.btnGenerico a span{
    display:block;
    height: 29px;
    text-align: center;
    font: 13px Arial, Helvetica, Sans-serif;
    color: #666666;
    line-height: 29px;
    text-decoration: none;
}
.btnGenerico a span span{   
    padding: 0 20px 0 20px;
}
.btnGenerico:hover,
.btnGenerico:hover span{
    color: Black;
}

/*
dsanchez: Para estos botones usar mejor la clase btnGenerico.

a.personalitzar span span { padding-left:1.8em; background:transparent url(../img/botons/personalitzar.gif) no-repeat left center; }
a.ajuda span span { padding-left:1.8em; background:transparent url(../img/botons/ajuda.gif) no-repeat left center; }
a.consulta span span { padding-left:1.8em; background:transparent url(../img/botons/consulta.gif) no-repeat left center; }
a.nou span span { padding-left:1.8em; background:transparent url(../img/botons/nou.gif) no-repeat left center; }
a.torna span span { padding-left:1.8em; background:transparent url(../img/botons/torna.gif) no-repeat left center; }
a.associar span span { padding-left:1.8em; background:transparent url(../img/botons/associar.gif) no-repeat left center; }
a.elimina span span { padding-left:1.8em; background:transparent url(../img/botons/eliminar.gif) no-repeat left center; }
a.esborra span span { padding-left:1.8em; background:transparent url(../img/botons/eliminar.gif) no-repeat left center; }

a.esborrar span span { padding-left:1.8em; background:transparent url(../img/botons/esborrar.gif) no-repeat left center; }
a.lleva span span { padding-left:1.8em; background:transparent url(../img/botons/esborrar.gif) no-repeat left center; }
a.guarda span span { padding-left:1.8em; background:transparent url(../img/botons/guarda.gif) no-repeat left center; }
a.certificat span span { padding-left:1.8em; background:transparent url(../img/botons/certificat.gif) no-repeat left center; }
a.inclou span span { padding-left:1.8em; background:transparent url(../img/botons/inclou.gif) no-repeat left center; }
a.tancar span span, a.mostrat span span { padding-left:1.8em; background:transparent url(../img/botons/tancar.gif) no-repeat left center !important; }
a.acceptar span span { padding-left:1.8em; background:transparent url(../img/botons/acceptar.gif) no-repeat left center; }
a.gps span span { padding-left:1.8em; background:transparent url(../img/botons/gps.gif) no-repeat left center; }
a.previsualitza span span { padding-left:1.8em; background:transparent url(../img/botons/previsualitza.gif) no-repeat left center; }
a.obri span span { padding-left:1.8em; background:transparent url(../img/botons/obri.gif) no-repeat left center; }
a.afegeix span span { padding-left:1.8em; background:transparent url(../img/botons/associar.gif) no-repeat left center; }
a.edita span span { padding-left:1.8em; background:transparent url(../img/botons/edita.gif) no-repeat left center; }
a.fills span span { padding-right:1.8em; background:transparent url(../img/botons/fills.gif) no-repeat right center; }
a.traduix span span { padding-left:1.8em; background:transparent url(../img/botons/traduix.gif) no-repeat left center; }

a.gestiona span span { padding-left:1.8em; background:transparent url(../img/botons/gestiona.gif) no-repeat left center; }
a.finalitza span span { padding-left:1.8em; background:transparent url(../img/botons/finalitza.gif) no-repeat left center; }
*/

span.sep { margin:0 1.5em; }

/* ids */

#contenidor { width:100%; }

#cap { 
    position:relative; 
    width:100%; 
    color:#fff;     
    background: url(../img/cap/fondo_cabecera.gif) #e57700 0 0 repeat-x;
}
#cap_contingut { 
    overflow:hidden; 
    width:58em;     
    height: 65px;   
    margin:0 auto;
    background: url(../img/cap/destello.jpg) 0 0 no-repeat;
}
#cap .logos { 
    display:block; 
    float:left;
    width:150px; 
}
#cap .logos .caib_logo {        
    height: 35px;
    margin-top: 15px;
    background:transparent url(../img/cap/logo.png) 0 0 no-repeat;
}
#cap .aplicacio { 
    display:block; 
    float:left;         
    padding: .2em 0 0 1.7em; 
    background: url(../img/cap/separador.gif) 0 13px no-repeat;
}
#cap .aplicacio span.nom { 
    font-size: 45px;
}
#cap .aplicacio span.versio { 
    position:relative; 
    top:-2em; 
    font-size:13px;
}
#cap .usuari { 
    display:block; 
    overflow:hidden; 
    float:left; 
    width:17em;     
    padding-top: 30px;  
}
#cap .usuari p {
    font-weight: bold;
    font-size: 13px;
    margin:0;
}
#cap .usuari p  strong{
    font-size: 18px;
}
#cap .usuari p a {  
    color:#fff;     
    font-weight: normal;
}
#cap .usuari p a:hover{
    text-decoration:underline;
}
#cap #tancarAplicacio { 
    display:block; 
    float: right; 
    width: 140px;
    height:32px; 
    text-align:right;
    margin-top: 15px;
    background-image: url(../img/cap/btn_cerrar_aplicacion.png);
}
#cap #tancarAplicacio  a{
    display:block;  
    text-decoration: none;
    font-size: 13px;
    color: #666666;
    padding: 6px 13px 0 0;
}
#cap #tancarAplicacio  a:hover,
#cap #tancarAplicacio  a:focus{
    text-decoration: underline;
}

#cap_pestanya { 
    position:absolute; 
    display:block;  
    z-index:1; 
    width: 37px;
    height: 18px;
    top: -3px;
    right: 0;   
    background-image: url(../img/cap/btn_plegar_cabecera.gif);
    cursor: pointer;
}
#cap_pestanya .plegada{ 
    background-image: url(../img/cap/btn_desplegar_cabecera.gif);
}
#cap_pestanya:hover, 
#cap_pestanya:focus { 
    background-color:transparent;
}

/* continguts */

#continguts {
    background-color: #F8F8F8;
}


/* menu*/

/*
#menu { width:100%; color:#fff; background-color:#ff921e; }
#menu_contingut { overflow:hidden; width:57em; padding:.5em 0 0 1em; margin:0 auto; }

#menu_contingut ul { overflow:hidden; width:100%; list-style:none; }
#menu_contingut ul li { float:left; margin-right:.7em; }

#menu_contingut ul li a { display:block; float:left; font-size:1.2em; color:#fff; text-decoration:none; padding:.3em .7em; background-color:#e57700; }
#menu_contingut ul li a:hover { background-color:#000; }
#menu_contingut ul li.seleccionat span.text { display:block; float:left; font-size:1.2em; font-weight:bold; color:#000; padding:.3em .7em; background-color:#fff; }
#menu_contingut ul li.seleccionat span.cueta { display:block; clear:both; float:left; position:relative; top:-1px; width:2em; height:.5em; background:transparent url(../img/cap/seleccionat.gif) no-repeat right top; }
*/

/*
#submenu { width:100%; color:#000; background-color:#ffe2c4; }
#submenu_contingut { overflow:hidden; width:58em; padding:.5em 0 .5em 0; margin:0 auto; }

#submenu_contingut ul { overflow:hidden; width:100%; list-style:none; }
#submenu_contingut ul li { display:inline; padding:0 .8em 0 1em; border-left:1px solid #000; }

#submenu_contingut ul li a { color:#000; }
#submenu_contingut ul li.seleccionat span { font-weight:bold; text-transform:uppercase; padding:0 1em; background-color:#fff; }
*/

/* taulesMestre */
/*
#menu_contingut #taulesMestre { display:none; overflow:hidden; position:absolute; top:0; left:0; z-index:10; width:15em; list-style:none; background-color:#fff; border:1px solid #e57700; border-bottom:0; }

#menu_contingut #taulesMestre li { float:none; font-size:.9em; margin-right:0; }
#menu_contingut #taulesMestre li li { border-bottom:1px solid #ccc; }
#menu_contingut #taulesMestre li li:last-child { border-bottom:0; }

#menu_contingut #taulesMestre li a { display:block; float:none; color:#000; text-decoration:none; padding:.2em .7em; background-color:#fff; }
#menu_contingut #taulesMestre li a:hover, #menu_contingut #taulesMestre li a:focus { background-color:#ffc !important; }
#menu_contingut #taulesMestre li span.titol { display:block; font-size:1em; font-weight:bold; color:#fff; padding:.2em .7em; background-color:#e57700; }
*/

/* mollaPa */
#mollaPa{
    background-color: White;
}
#mollaPa_contingut { 
    overflow:hidden; 
    width:57em; 
    padding:.5em 0 .5em 0; 
    margin:0 auto; 
    background:#fff;
}
#mollaPa_contingut ul.molla { 
    list-style:none;
    height: 23px;
}
#mollaPa_contingut ul.molla li {    
    white-space:nowrap;
    float:left;
    margin-right: 10px;
    background: url(../img/mollaPa/flecha.gif) 100% 50% no-repeat;
    padding-right: 19px;    
}
#mollaPa_contingut ul.molla li:last-child{
    background-image: none;
}
#mollaPa_contingut ul.molla li,
#mollaPa_contingut ul.molla li a{
    color: #666666;
    font-size: 13px;
    line-height: 23px;
    text-decoration: none;  
    height: 23px;
}
#mollaPa_contingut ul.molla li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 9px;
    background-color: #F0F0F0;
    display:block;  
}
#mollaPa_contingut ul.molla li a:hover{
    text-decoration: underline;
}
#mollaPa_contingut ul.molla li.seleccionat { 
    font-weight:bold;
}
#mollaPa_contingut ul.molla li.uaHijas a{
    background-color: white;
    border: 1px solid #C7C7C7;
    background: url(../img/mollaPa/flecha_uahijas.gif) 93% 50% no-repeat;
    padding-right: 25px;
}
#mollaPa_contingut ul.molla li a.uaFilles.desplegado{
    border-radius: 5px 5px 0 0;
    background-color:White;
    position:relative;
    z-index: 200;
    border-bottom: none;
}

#uas { 
    display:none; 
    overflow:visible; 
    position:absolute; 
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 10px;    
    /*top:5em; 
    left:5em; */
    width:20em; 
    list-style:none; 
    background-color:#fff; 
    border:1px solid #ccc;     
    z-index:100;
    padding: 10px 0;
}
#uas li{
    padding: 2px 0;
}
#uas li a { 
    display:block;
    font-size: 13px;
    padding: 0 13px;
    line-height: 25px;
    text-decoration: none;
    color: Black;
}
#uas li a:hover{
    color: White;
    background-color: #FF910C;
}
#uas li span.carregant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }

#mollapaHome {
    vertical-align: middle;
    cursor: pointer;
}

/* titol */

#titol { width:100%; color:#000; background:#f1f1f1 url(../img/titol/fons.gif) repeat-x left bottom; }
#titol_contingut { overflow:hidden; width:58em; height:3em; padding:1.2em 0 0 0; margin:0 auto; }

#titol h1 { display:inline; font-size:1.7em; font-weight:normal; text-transform:uppercase; margin:0 .8em 0 .2em; }
#titol p { display:inline; margin:0; }
#titol p strong { font-weight:normal; margin-right:1.5em; }

#numTotal.carregant { font-style:italic; padding-left:1.8em; background:transparent url(../img/executant.gif) no-repeat left center; }

/* escriptori */

#escriptori { 
    overflow:hidden; 
    width:58em; 
    margin-left: auto;
    margin-right: auto;
}
#escriptori_contingut { }

/* suggeriment */

#suggeriment { width:100%; }
#suggeriment_contingut { overflow:hidden; width:50em; padding:1em 1em 1em 5em; margin:3em auto 0 auto; background:#fffddd url(../img/suggeriment/suggeriment.gif) no-repeat 1.5em 1em; border:1em solid #e1dfbe; }

#suggeriment_contingut h2 { padding:0; margin:0 0 1em 0; }

#suggeriment_contingut a.tancar { display:block; float:right; color:#c00; padding-left:1.8em; background:transparent url(../img/botons/tancar.gif) no-repeat left center; }

/* peu */

#peu { 
    overflow:hidden; 
    clear:both; 
    width:100%; 
    height:4em;     
    background-color: #F8F8F8;
    padding-top: 96px;
}
#peu_contingut { 
    overflow:hidden; 
    width:58em; 
    padding:1em 0; 
    margin:0 auto;
}
#peu div.logos { 
    width: 282px;
    margin-left: auto;
    margin-right: auto;
}
#peu img { padding:1px; margin:1em 1em 0 0; border:1px solid #ccc; }

/* missatge */

#missatge { display:none; position:fixed; top:0; left:0; z-index:10; width:30em; color:#000; padding:1em 1em 1em 7em; }
#missatge p.titol { font-size:1.4em; }
#missatge ul { list-style:circle; margin-left:1.5em; }
#missatge ul li { margin-bottom:.4em; }
#missatge .botonera { text-align:left !important; padding:1.5em 0 1em 0; }
#missatge button { overflow:visible; font-size:1.1em; font-weight:bold; padding:.2em 1em; margin:0 .5em; cursor:pointer; }

div.executant { background:#fff url(../img/missatge/executant.gif) no-repeat 1em 1.5em; border:1em solid #e9d6c9; }
div.error { background:#fff url(../img/missatge/error.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.fatal { background:#fff url(../img/missatge/fatal.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.correcte { background:#fff url(../img/missatge/correcte.gif) no-repeat 1em 1.5em; border:1em solid #aaddad; }
div.atencio { background:#fff url(../img/missatge/atencio.gif) no-repeat 1em 1.5em; border:1em solid #f2bc00; }
div.informacion { background:#fff url(../img/missatge/informacion.gif) no-repeat 1em 1.5em; border:1em solid #d3eff0; }

/* fons */

#fons { display:none; position:absolute; z-index:2; top:0; left:0; background-color:#fff; }

/* opcions pestanyes */

#opcions { 
    height:37px; 
    list-style:none; 
    padding-top:1em; 
    margin-left:0; 
    /*border-bottom: 1px solid #D3D3D3;*/
}
#opcions li { 
    display:block; 
    float:left; 
    position:relative; 
    top:9px; 
    height: 27px; 
    line-height: 27px;
    margin-right: 3px;
    z-index:1;
    padding: 0 20px;
    text-align: center; 
    border: 1px solid #D3D3D3;
    border-bottom: none;
    padding-left: 35px;
    background-color: White;    
    background-repeat: no-repeat;
    background-position: 11px 50%;
    border-radius: 15px 15px 0 0;  
}
#opcions li a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}
#opcions li a:hover{
    color: Black;
    text-decoration: underline;
}
#opcions li.actiu { 
    font-weight:bold; 
    background-color:#fff; 
    border-top:1px solid #D3D3D3; 
    border-right:1px solid #D3D3D3; 
    border-left:1px solid #D3D3D3;
    height: 36px;
    line-height: 36px;
    top: 1px;
}
#opcions li.actiu a { 
    color: Black; 
    text-decoration:none;
}
#opcions li.actiu a:hover {     
    cursor:default;
}
#opcions li.L{  
    background-image: url(../img/pestanyas/ico_listado_off.gif); 
}
#opcions li.actiu.L{
    background-image: url(../img/pestanyas/ico_listado.gif);
}
#opcions li.C { 
    background-image: url(../img/pestanyas/ico_buscador_off.gif);
}
#opcions li.actiu.C {   
    background-image: url(../img/pestanyas/ico_buscador.gif);
}
#opcions li.nuevo{
    background-image: url(../img/pestanyas/ico_nuevo_off.gif);
}
#opcions li.actiu.nuevo{
    background-image: url(../img/pestanyas/ico_nuevo.gif);
}

/* resultats */

#resultats { 
    clear:both;
    border: 1px solid #D3D3D3;
    /*border-top: none;*/
    border-radius: 0 10px 10px 10px;
    background-color: White;
}
#resultats div.resultats { display:none; }
#resultats div.actiu { display:block !important; }

#resultats p.executant { 
    font-size:1.3em; 
    font-style:italic; 
    padding:1em 0 1em 1.6em; 
    margin-left: 1em;
    background:#fff url(../img/executant.gif) no-repeat 0 1.1em;
}

#resultats p.info { 
    padding: 10px 21px 0 21px;
    font: 13px Arial, Helvetica, Sans-serif;
    color: #333333;
}
#resultats p.info strong { text-transform:lowercase; }

#resultats p.noItems { 
    font-size:1.3em; 
    padding: 1em 0 1em 2em !important; 
    margin-left: 1em;
    background:#fff url(../img/missatge/alerta.gif) no-repeat 0 50%;
}


/* llistats table */

div.table { 
    overflow:hidden;        
    font: 15px Arial, Helvetica, Sans-serif;
    margin-top: 20px;
}
div.table div.thead, 
div.table div.thead div.tr { 
    overflow:hidden; 
    width:100%;     
}
div.table div.thead div.th { 
    float:left; 
    text-transform: uppercase;
    font: bold 11px Verdana, Helvetica, Sans-serif;
    color: #333333;
}
div.table div.tbody div.td {
    color: #666666;
}
div.table div.thead div.th,
div.table div.tbody div.td{ 
    min-height: 33px;
}
div.table div.thead div.th:last-child,
div.table div.tbody div.td:last-child{
    border-right: none;
}

div.table div.thead div.ASC a { 
    background-image:url(../img/ordenacio/asc.gif); 
    background-repeat:no-repeat; 
    background-position:.5em 95%;
}
div.table div.thead div.DESC a { 
    background-image:url(../img/ordenacio/desc.gif); 
    background-repeat:no-repeat; 
    background-position:.5em 95%;
}
div.table div.thead div.th a {
    display:block;
    color:#000;
    padding:.2em .5em 1em .5em;
}
div.table div.tbody, 
div.table div.tbody div.tr { 
    overflow:hidden; 
    width:100%;
}
div.table div.tbody div.par { 
    background-color: #F9F8F2;
}
div.table div.tbody div.td { 
    float:left;     
    line-height: 33px;
}
div.table div.tbody div.td a{
    font-size: 15px;
    color: #2176DE;
    text-decoration: underline; 
}
div.table div.tbody div.td a:hover{
    color: Black;
}


/* Navegador multipágina */

#resultats p.paginacio {
    font: 15px Arial, Helvetica, Sans-serif;
    color: #333333;
    text-align:left; 
    padding: 13px 0 10px 20px;
}
#resultats p.paginacio a{
    color: #333333;
    text-decoration: underline;
}
#resultats p.paginacio a:hover{
    color: #F47900;
}
#resultats p.paginacio strong{
    font-size: 25px;    
    color: #F47900;
}
#resultats p.paginacio a,
#resultats p.paginacio strong{
    margin: 0 5px;
}

/* cercador */

#cercador { 
}
#cercador_contingut { 
    overflow:hidden;     
    padding:1em; 
    margin:0 auto;  
}
#cercador h2 { 
    font: bold 11px Verdana, Arial, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;  
    margin: 5px 0 20px 0;
}
#cercador div.fila { 
    overflow:hidden; 
    width:100%; 
    padding:0; 
    margin-bottom:1em;
}
#cercador div.element {
    overflow:hidden;
    float: left;
    height:54px;    
}
#cercador .element.t6{
    width: 5.9%;
}
#cercador .element.t10{
    width: 9.9%;
}
#cercador .element.t13{
    width: 12.9%;
}
#cercador .element.t16{
    width: 15.9%;
}
#cercador .element.t21{
    width: 20.9%;
}
#cercador .element.t30{
    width: 29.9%;
}
#cercador div.element .control{
    padding-right: 20px;
}
#cercador div.element:last-child .control{
    padding-right: 2px;
}
#cercador input[type=text], #cercador select{
    width: 99.9%;
}
#cercador input[type=text] {
    height: 20px;
}

/*#cercador div.t6 { width:6em; }
#cercador div.t6 input { width:5em; }
#cercador div.t8 { width:8em; }
#cercador div.t8 input, #cercador div.t8 select { width:7em; }
#cercador div.t10 { width:10em; }
#cercador div.t10 input, #cercador div.t10 select { width:9em; }
#cercador div.t11 { width:11em; }
#cercador div.t11 input, #cercador div.t11 select { width:10em; }
#cercador div.t13 { width:13em; }
#cercador div.t13 input, #cercador div.t11 select { width:12em; }
#cercador div.t15 { width:15em; }
#cercador div.t15 input { width:14em; }
#cercador div.t18 { width:18em; }
#cercador div.t18 input { width:17em; }
#cercador div.t21 { width:21em; }
#cercador div.t21 input { width:20em; }
#cercador div.t22 { width:22em; }
#cercador div.t22 input { width:21em; }
#cercador div.t29 { width:29em; }
#cercador div.t29 input { width:28em; }
#cercador div.t31 { width:31em; }
#cercador div.t31 input { width:30em; }
#cercador div.t33 { width:33em; }
#cercador div.t33 input { width:32em; }*/

#cercador div input.on { background-color:#ddfeff !important; border:1px solid #7f9db9 !important; }
/*#cercador div input.t8, #cercador div select.t8 { width:6em !important; }*/
#cercador div input.t17 { width:12.5em !important; }

#cercador input.text { width:15.5em; background-color:#fff; border:1px solid #7f9db9; }
#cercador texconvenio { width:50em; height:5.5em; background-color:#fff; border:1px solid #7f9db9; }
#cercador texconvenio.texconvenioOn { background-color:#ddfeff; }

#cercador ul.seleccioMultiple { overflow:auto; width:20em; height:5.5em; background-color:#fff; border:1px solid #7f9db9; }
#cercador ul.seleccioMultiple li { padding-left:.5em; }
#cercador ul.enLinia li { display:inline; padding-left:.5em; border-left:1px solid #e0e0e0; }

#cercador div.etiqueta, #cercador label.etiqueta {    
    font: 13px Arial, Helvetica, Sans-serif;
}
#cercador div.etiqueta:after { content:":"; }

#cercador label.checkbox {
    padding-right: 2em;
}

#cercador div.control {
    padding-top: 2px;
}
#cercador div.control ul { list-style:none; }

#cercador div.noClear{
    clear: none !important;
}
#cercador div.botonera { 
    clear: both;
    float:right;    
}
#cercador .botonera .boton{
    margin-left: 11px;
}
#cercador .botonera .btn.consulta > span > span{
    background: url(../img/pestanyas/ico_buscador.gif) 15px 50% no-repeat;
}
#cercador .botonera .btn.borrar > span > span{
    background: url(../img/botons/iconos/borrar.png) 15px 50% no-repeat;
}
#cercador .botonera .btnGenerico a span span{
    padding-left : 35px;
}

/*#cercador div.rabillo { height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }*/

#cercador div.mesDades { display:none; }

#cercador a.mesDades { padding-left:1.2em; background:transparent url(../img/cercador/mesDades_off.gif) no-repeat left center; }
#cercador a.on { background-image:url(../img/cercador/mesDades_on.gif); }

/* suggeriments_resultats */

#suggeriments_resultats { display:none; position:absolute; top:0; left:0; list-style:none; background-color:#fff; border:1px solid #ccc; border-bottom:0; }
#suggeriments_resultats li { border-bottom:1px solid #ccc; }

#suggeriments_resultats li span { font-size:.8em; padding-left:.5em; }

#suggeriments_resultats li a { display:block; padding:.3em .7em .4em .7em; }
#suggeriments_resultats li a:hover { background-color:#ff9; }

#suggeriments_resultats li.selec { background-color:#ff9; }

/* detall */

#carregantDetall { font-size:1.3em; font-style:italic; padding:1em 0 1em 1.6em; background:#fff url(../img/executant.gif) no-repeat left center; }

#escriptori_detall { 
    display:none; 
    font: 13px Arial, Helvetica, Sans-serif;
    color: Black;
}
#escriptori_detall h2{
    display: none;
}
#escriptori_detall .grupoModulosFormulario{
    float: left;
    width: 779px;       
}
#escriptori_detall .grupoModulosFormulario div.modul{
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #D4D4D4;
    background-color: White;
    margin-bottom: 30px;    
    position:relative;
    
    padding: 25px 21px 25px 21px;
    -moz-border-radius: 1em 1em 0 0;
}
#escriptori_detall .grupoModulosFormulario div.modul a.modul{
    position:absolute;
    right: 9px;
    top: 9px;
    display:block;
    text-indent: -1000px;
    width: 16px;
    height: 16px;
    background-image: url(../img/botons/desplegar.png);
}
#escriptori_detall .grupoModulosFormulario legend{
    font: bold 11px Verdana, Arial, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#escriptori_detall .grupoModulosFormulario .etiqueta{
    height: 21px;   
    overflow: hidden;
}
#escriptori_detall .grupoModulosFormulario .obligatori{ 
    color: #CC0000;
}
#escriptori_detall .grupoModulosFormulario .fila{
    clear:both;
    margin-bottom: 20px;
    overflow: hidden;
}
#escriptori_detall .grupoModulosFormulario input[type=text]{    
    border: 1px solid #C7DDEB;
    background-color: #ECF6FC;
    color: Black;
    height: 21px;   
    width: 99.8%;
    padding: 2px 0;
    
    border-radius: 5px 5px 5px 5px;
}
#escriptori_detall .grupoModulosFormulario textarea{    
    background-color: #ECF6FC;
}
#escriptori_detall .grupoModulosFormulario .control.select{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #C7DDEB;
    background-color: #ECF6FC;
    height: 21px;   
    padding: 2px 0;
}
#escriptori_detall .grupoModulosFormulario .control.select select{
    background-color: transparent;
    width: 99.9%;
    border: none;
}
#escriptori_detall .grupoModulosFormulario .element{
    float: left;    
}
#escriptori_detall .grupoModulosFormulario .element .control{   
    padding-right: 25px;
}
#escriptori_detall .grupoModulosFormulario .element:last-child .control{
    padding-right: 0;
}
#escriptori_detall .grupoModulosFormulario .t20p{
    width: 19.9%;
}
#escriptori_detall .grupoModulosFormulario .t25p{
    width: 24.9%;
}
#escriptori_detall .grupoModulosFormulario .t30p{
    width: 29.9%;
}
#escriptori_detall .grupoModulosFormulario .t50p{
    width: 49.9%;
}
#escriptori_detall .grupoModulosFormulario .t75p{
    width: 74.9%;
}
#escriptori_detall .grupoModulosFormulario .t99p{
    width: 99.9%;
}
#escriptori_detall .grupoModulosFormulario .t99p textarea{
   display: block;
   width: 734px; 
}

/* Botones */

#escriptori_detall #modulLateral,
#escriptori_detall .botonera{
    float: right;
    width: 286px;
    margin-top: 33px;
}
#escriptori_detall .botonera ul{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;  
    overflow: hidden;
    padding: 15px;
    
    border-radius: 15px 15px 15px 15px;
}
#escriptori_detall .botonera ul li,
#escriptori_detall .botonera ul li a,
#escriptori_detall .botonera ul li span{
    height: 38px;
    font: 16px/38px Impact, Arial, Helvetica, Sans-serif;
    color: White;
    display:block;
    text-align: center; 
}
#escriptori_detall .botonera ul li{
    list-style: none;
    float: left;
    background: url(../img/botons/opcion1/cen.gif) 0 0 repeat-x;
    min-width: 105px;
    margin-bottom: 10px;
}
#escriptori_detall .botonera ul li a{   
    background: url(../img/botons/opcion1/izq.gif) 0 0 no-repeat;
    text-decoration: none;
}
#escriptori_detall .botonera ul li a:hover{ 
    text-decoration: underline;
}
#escriptori_detall .botonera ul li a > span{
    background: url(../img/botons/opcion1/der.gif) 100% 0 no-repeat; 
}
#escriptori_detall .botonera ul li a > span span{
    padding: 0 15px 0 32px;
    text-transform: uppercase;
}


/* Boton eliminar */

#escriptori_detall .botonera ul li.btnEliminar{
    float:right;
}
#escriptori_detall .botonera ul li.btnEliminar{
    background-image: url(../img/botons/opcion2/cen.gif);
}
#escriptori_detall .botonera ul li.btnEliminar a{   
    background-image: url(../img/botons/opcion2/izq.gif);    
}
#escriptori_detall .botonera ul li.btnEliminar a > span{
    background-image: url(../img/botons/opcion2/der.gif);    
}
#escriptori_detall .botonera ul li.btnEliminar a span span{
    background: url(../img/botons/iconos/borrar.png) 10px 50% no-repeat; 
}


/* Boton previsualizar */

#escriptori_detall .botonera ul li.btnPrevisualizar{
    float:right;
}
#escriptori_detall .botonera ul li.btnPrevisualizar{
    background-image: url(../img/botons/opcion2/cen.gif);
}
#escriptori_detall .botonera ul li.btnPrevisualizar a{  
    background-image: url(../img/botons/opcion2/izq.gif);    
}
#escriptori_detall .botonera ul li.btnPrevisualizar a > span{
    background-image: url(../img/botons/opcion2/der.gif);    
}
#escriptori_detall .botonera ul li.btnPrevisualizar a span span{
    background: url(../img/botons/iconos/previsualizar.png) 13px 50% no-repeat;  
}


/* Boton volver */

#escriptori_detall .botonera ul li.btnVolver a span span{
    background: url(../img/botons/iconos/volver.png) 13px 50% no-repeat; 
}


/* Boton guardar */

#escriptori_detall .botonera ul li.btnGuardar{
    clear: left;
}
#escriptori_detall .botonera ul li.btnGuardar a span span{
    background: url(../img/botons/iconos/guardar.png) 13px 50% no-repeat;    
}


/* Boton publicar */

#escriptori_detall .botonera ul li.btnPublicar span span{
    background: url(../img/botons/iconos/publicar.png) 5px 50% no-repeat;    
}


/* Boton deshabilitado */

#escriptori_detall .botonera ul li.off{ 
    background-image: url(../img/botons/opcion_off/cen.gif); 
}
#escriptori_detall .botonera ul li.off a{   
    background-image: url(../img/botons/opcion_off/izq.gif);     
    cursor: default;
}
#escriptori_detall .botonera ul li.off a:hover{ 
    text-decoration: none;
}
#escriptori_detall .botonera ul li.off a > span{
    background-image: url(../img/botons/opcion_off/der.gif); 
}

/*
#escriptori_detall { display:none; margin:0 0 4em 0; }

#escriptori_detall h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; }
#escriptori_detall h2 span.A { color:#060; }
#escriptori_detall h2 span.R, #escriptori_detall h2 span.C { color:#c00; }

#escriptori_detall h2 span.caducat { color:#c00; }

#modulPrincipal { float:left; width:50.5em; }
#escriptori_detall #modulPrincipal div.modul { width:49em; }

#modulLateral { float:right; width:25.5em; }
#escriptori_detall #modulLateral div.modul { width:24em; }

#escriptori_detall div.modul { overflow:hidden; position:relative; width:56.5em; padding:1em 0 0 1em; margin-bottom:1em; border:1px solid #f2f2f2; }
#escriptori_detall div.modul h2 { float:left; margin-top:0; }
#escriptori_detall div.modul a.modul { position:absolute; top:1em; right:1em; padding-left:1.3em; }
#escriptori_detall div.modul a.amagat { background:transparent url(../img/botons/mostra.gif) no-repeat left center; }
#escriptori_detall div.modul a.mostrat { background:transparent url(../img/botons/amaga.gif) no-repeat left center; }
#escriptori_detall div.modul_continguts { display:none; clear:both; width:100%; }
#escriptori_detall div.mostrat { display:block !important; }

#escriptori_detall div.modul h2 span.caducat { font-size:.8em; text-transform:uppercase; color:#c00; margin-left:3em; padding-left:2em; background:transparent url(../img/taula_llistat/procediment_caducat.gif) no-repeat left center; }

#escriptori_detall div.m50p { float:left; clear:none; width:34.7em; }
#escriptori_detall div.m66p { float:left; clear:none; width:46.2em; }
#escriptori_detall div.m33p { float:left; clear:none; width:23.1em; }

#escriptori_detall div.modul fieldset { border:0; }
#escriptori_detall div.modul legend { font-size:1.2em; font-weight:bold; padding-bottom:1em; }

#escriptori_detall h3 { margin-top:0; margin-bottom:1em; }

#escriptori_detall div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:1.5em; }
#escriptori_detall div.ambColumna { margin-bottom:0; }

#escriptori_detall div.senseMarge { margin-bottom:0 !important; }

#escriptori_detall div.columna { overflow:hidden; float:left; padding:0; margin-right:1.9em; }
#escriptori_detall div.t50 { width:26em; }
#escriptori_detall div.c_t50 { width:34.5em; }
#escriptori_detall div.columna div.element { width:100%; }

#escriptori_detall p.columna { font-weight:1.1em; font-weight:bold; text-transform:uppercase; padding:.5em 0; margin:0 0 1em; }

#escriptori_detall div.element { overflow:hidden; float:left; padding:0; margin: 0 1em; }
#escriptori_detall div.t20p { width:9em; }
#escriptori_detall div.t20p input, #escriptori_detall div.t20p p.input { width:8em; }
#escriptori_detall div.t25p { width:12em; }
#escriptori_detall div.t25p input, #escriptori_detall div.t25p p.input { width:11em; }
#escriptori_detall div.t33p { width:17em; }
#escriptori_detall div.t33p input, #escriptori_detall div.t33p p.input { width:16em; }
#escriptori_detall div.t50p { width:26em; }
#escriptori_detall div.t50p input, #escriptori_detall div.t50p p.input { width:25em; }
#escriptori_detall div.t66p { width:35.5em; }
#escriptori_detall div.t66p input, #escriptori_detall div.t66p p.input { width:34.5em; }
#escriptori_detall div.t99p { width:55em; }
#escriptori_detall div.t99p input, #escriptori_detall div.t99p textarea, #escriptori_detall div.t99p p.input { width:54em; }

#escriptori_detall div.t7 { width:7.5em; }
#escriptori_detall div.t7 input, #escriptori_detall div.t7 p.input { width:6.5em; }
#escriptori_detall div.t9 { width:9em; }
#escriptori_detall div.t9 input, #escriptori_detall div.t9 p.input { width:8em; }
#escriptori_detall div.t10 { width:10em; }
#escriptori_detall div.t10 input, #escriptori_detall div.t10 p.input { width:9em; }
#escriptori_detall div.t15 { width:15em; }
#escriptori_detall div.t15 input, #escriptori_detall div.t15 p.input { width:14em; }
#escriptori_detall div.t20 { width:20em; }
#escriptori_detall div.t20 input, #escriptori_detall div.t20 p.input { width:19em; }
#escriptori_detall div.t32 { width:32em; }
#escriptori_detall div.t32 input, #escriptori_detall div.t32 p.input, #escriptori_detall div.t32 select { width:31em; }
#escriptori_detall div.t34 { width:34em; }
#escriptori_detall div.t34 input, #escriptori_detall div.t34 p.input, #escriptori_detall div.t34 textarea { width:33em; }
#escriptori_detall div.t53 { width:53em; }
#escriptori_detall div.t53 textarea, #escriptori_detall div.t53 p.input { width:52em; }
#escriptori_detall div.t65 { width:70em; }
#escriptori_detall div.t65 textarea, #escriptori_detall div.t65 p.input { width:69em; }

#escriptori_detall input.t100, #escriptori_detall textarea.t100 { width:95%; }
#escriptori_detall input.t4, #escriptori_detall select.t4 { width:4em !important; }
#escriptori_detall p.t4 { width:3em !important; }
#escriptori_detall input.t6, #escriptori_detall select.t6 { width:6em !important; }
#escriptori_detall p.t6 { width:5em !important; }
#escriptori_detall input.t10, #escriptori_detall select.t10 { width:10em !important; }
#escriptori_detall input.t44 { width:44em !important; }

#escriptori_detall div.etiqueta { font-family:Georgia, "Times New Roman", Times, serif; padding-bottom:.2em; }
#escriptori_detall div.etiqueta:after { content:":"; }

#escriptori_detall div.control { font-family:Georgia, "Times New Roman", Times, serif; padding:0 0 .2em 0; }
#escriptori_detall div.control p { line-height:1.4em; }

#escriptori_detall div.control p.input { float:left; font:normal 1em 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; line-height:normal; padding:.1em .2em; margin:0; background-color:#f7f7f7; border:1px solid #7f7f7f; }

#escriptori_detall div.text { font-size:1.3em; }

#escriptori_detall div.titol { font-size:1.4em; padding-top:.3em; padding-bottom:.3em; padding-left:.3em; }

#escriptori_detall div.documentos ul { list-style:none; margin:.3em 0 0 .2em; }
#escriptori_detall div.documentos ul li { padding:.3em 0 .5em 1.8em; background:#fff url(../../administracion-0.0.1/img/comunicaciones/documento.gif) no-repeat 0 .4em; }
#escriptori_detall div.documentos ul li p { margin:0 0 .3em 0; }
#escriptori_detall div.documentos ul li p.firmador { font:normal .9em 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#060; }

#escriptori_detall div.botonera { clear:both; padding:.5em 0; background-color:#f0f0ee; }
#escriptori_detall div.botonera ul { overflow:hidden; width:100%; height:1.8em; list-style:none; padding:.2em 0; }
#escriptori_detall div.botonera ul li { float:left; height:1.8em; padding:.1em 0 .1em 2em; }
#escriptori_detall div.botonera ul li.e { float:right !important; padding-right:2em; }

#escriptori_detall div.botonera button { overflow:visible; font-size:1.1em; font-weight:bold; padding:.2em 1em; margin:0 1em; cursor:pointer; }
#escriptori_detall div.botonera button img { vertical-align:middle; margin-right:.5em; }

#escriptori_detall div.dalt { margin-top:2em; }
*/

#btnBorrar { color:#c00; }

#escriptori_detall div.rabillo_dalt { height:1em; margin-bottom:2em; /*background:transparent url(../img/botonera/rabillo_dalt_c_ccd7e2.gif) no-repeat center top;*/ }

#escriptori_detall div.rabillo { clear:both; height:1em; /*background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom;*/ }


/* botonera publicacio */

#escriptori_detall div.publicacio { background-color:#f0f0ee; }
#escriptori_detall div.publicacio fieldset legend { padding-bottom:0; }

#escriptori_detall div.publicacio p.dalt { padding:.5em 1em; margin-right:1em; margin-bottom:1em; background-color:#ccd7e2; }
#escriptori_detall div.publicacio p.baix { text-align:right; padding:.5em 1em; margin-right:1em; background-color:#ffc977; }

#escriptori_detall div.publicacio p.iEsborrany { background-color:#ffc977; }
#escriptori_detall div.publicacio p.iCaducat { background-color:#e99191; }
#escriptori_detall div.publicacio p.iPublicat { background-color:#a0eca0; }

/*No hi ha unitat seleccionada*/

#escriptori_detall p.noUnitat {
    background: url("../img/missatge/alerta.gif") no-repeat scroll 0 50% #FFFFFF;
    font-size: 1.3em;
    padding: 1em 0 1em 2em !important;
}


/* idiomes modulPrincipal */

#modulPrincipal .introIdiomas{
    float: left;
    margin: 0;
    padding-top: 5px;
    line-height: 15px;
}
#modulPrincipal ul.idiomes{
    list-style: none;
    height: 50px;
}
#modulPrincipal ul.idiomes li.idioma{
    float: left;
    font-size: 13px;
    padding: 5px 12px 0 12px;
}
#modulPrincipal ul.idiomes li.seleccionat{
    font-weight: bold;
    color: black;
}
#modulPrincipal ul.idiomes li.idioma a{ 
    color: #0099CC;
    text-decoration: underline;
}

/*
#modulPrincipal ul.idiomes { overflow:hidden; width:54.5em; list-style:none; padding:1em 0 0 1em; margin-bottom:1.5em; background-color:#ffecd9; }
#modulPrincipal ul.idiomes li { float:left; height:2em; padding:.3em 1em 0 1em; margin:0; }
#modulPrincipal ul.idiomes li.seleccionat { background-color:#fff; }
#modulPrincipal ul.idiomes li.seleccionat a { font-weight:bold; color:#000; text-decoration:none; }

#modulPrincipal ul.idiomes li.desplegar { float:right; }
#modulPrincipal ul.idiomes li.desplegar a { color:#c00; padding-left:1.3em; background:transparent url(../img/botons/desplegar_off.gif) no-repeat left center; }
#modulPrincipal ul.idiomes li.desplegar a.on { background:transparent url(../img/botons/desplegar_on.gif) no-repeat left center; }

#modulPrincipal div.idiomes { padding-bottom:0; border-bottom:.2em solid #ffecd9; }
#modulPrincipal div.idiomes div.idioma { display:none; }
#modulPrincipal div.idiomes div.seleccionat { display:block !important; }
#modulPrincipal div.idiomes div.idioma h3 { margin-top:1em !important; }
*/

/* docs */

div.modul div.llistat div.thead div.th { padding:.2em .5em 1em .5em; }

div.modul div.llistat div.tbody div.tr { padding:1em 0; }

/*div.modul div.llistat div.tbody div.td input, div.llistat div.tbody div.td span.doc, div.llistat div.tbody div.td a { font-size:1.1em; }*/

div.modul div.llistat div.tbody div.td span.elimina { text-decoration:line-through; }

div.modul div.llistat div.tbody div.nou { display:none; }

/* modul materies */
/*
div.modulMateries { padding-bottom:1em; }

div.modulMateries div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulMateries div.seleccionats ul li { padding-bottom:.4em; }
div.modulMateries div.seleccionats p.info { margin-top:0; }

div.modulMateries div.llistat { display:none; }
div.modulMateries div.llistat ul { overflow:hidden; list-style:none; padding-right:1em; }
div.modulMateries div.llistat ul li { overflow:hidden; float:left; width:50%; }
div.modulMateries div.llistat ul li label { display:block; overflow:hidden; width:100%; }
div.modulMateries div.llistat ul li label:hover { background-color:#ffc; cursor:pointer; }
div.modulMateries div.llistat ul li span { display:block; float:right; width:9em; }
div.modulMateries div.llistat ul li input { margin-right:.5em; }
div.modulMateries div.llistat div.botonera { clear:both; }

div.modulMateries div.llistat div.botonera { width:23em; text-align:center; padding:1em; background-color:#ccd7e2; }
div.modulMateries div.llistat div.rabilloLateral { height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }
*/

/* modul fets vitals */

div.modulFetsVitals { padding-bottom:1em; }

div.modulFetsVitals div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulFetsVitals div.seleccionats ul li { padding-bottom:.4em; }
div.modulFetsVitals div.seleccionats p.info { margin-top:0; }

div.modulFetsVitals div.llistat { display:none; }
div.modulFetsVitals div.llistat ul { overflow:hidden; list-style:none; padding-right:1em; }
div.modulFetsVitals div.llistat  ul li { overflow:hidden; float:left; width:50%; }
div.modulFetsVitals div.llistat  ul li label { display:block; overflow:hidden; width:100%; }
div.modulFetsVitals div.llistat  ul li label:hover { background-color:#ffc; cursor:pointer; }
div.modulFetsVitals div.llistat  ul li span { display:block; float:right; width:9em; }
div.modulFetsVitals div.llistat  ul li input { margin-right:.5em; }
div.modulFetsVitals div.llistat  p { clear:both; }

div.modulFetsVitals div.llistat div.botonera { width:23em; text-align:center; padding:1em; background-color:#ccd7e2; }
div.modulFetsVitals div.llistat div.rabilloLateral { height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

/* modul tramits */

div.modulTramits { padding-bottom:1em; }

div.modulTramits div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulTramits div.seleccionats ul li { padding-bottom:.4em; }
div.modulTramits div.seleccionats p.info { margin-top:0; }

/* previsualitzacio */

#escriptori_previsualitza { display:none; margin:0 0 4em 0; }
#escriptori_previsualitza h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; }

div.previsualitzacio { padding:1em; border:1px solid #ccc; }
div.previsualitzacio iframe { width:100%; height:40em; border:0; }

/* modul documents */

div.modulDocuments { padding-bottom:1em; }

div.modulDocuments div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulDocuments div.seleccionats ul li { padding-bottom:.4em; }
div.modulDocuments div.seleccionats p.info { margin-top:0; }

div.modulDocuments div.llistat { display:none; }
div.modulDocuments div.llistat ul { overflow:hidden; list-style:none; padding-right:1em; }
div.modulDocuments div.llistat  ul li { overflow:hidden; float:left; width:50%; }
div.modulDocuments div.llistat  ul li label { display:block; overflow:hidden; width:100%; }
div.modulDocuments div.llistat  ul li label:hover { background-color:#ffc; cursor:pointer; }
div.modulDocuments div.llistat  ul li span { display:block; float:right; width:9em; }
div.modulDocuments div.llistat  ul li input { margin-right:.5em; }
div.modulDocuments div.llistat  p { clear:both; }




/* PER VERIFICAR */

/* error */

#error { color:#000; padding:0 1em 1em 7em; margin:3em 0; background:#fff url(../img/missatge/error.gif) no-repeat 1em 0; }
#error h1 { font-size:1.5em; font-weight:normal; color:#900; padding:0; background:none; }

/* ajuda */

#ajuda { position:fixed; right:.5em; bottom:.5em; width:15em; height:20em; background-color:#fff; border:2px solid #000; }

#ajuda div.botonera { height:2em; text-align:right; background-color:#000; }
#ajuda div.botonera a { font-size:.9em; color:#fff; margin-right:.5em; }
#ajuda div.botonera a:hover { color:#ff9; background-color:#000; }

#ajuda iframe { width:15em; height:18em; }




