@charset "utf-8";

/* formateig */

body, form, table, caption, tr, td, ul, ol, li, dl, dt, dd, img, button, p, h1, h2, h3, h4, h5, h6, object, iframe, legend, fieldset { margin:0; padding:0; outline:0; border: none; }
img { border:0; }

/* comuns */

body { 
    font:normal 88% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; 
    color:#000; 
    background-color: #F8F8F8;
}

a { color:#0054ff; text-decoration:underline; cursor:pointer; }
a.destacat { color:#c00; }
a.destacat:hover { color:#000; }

a.marcador { font-style:italic; padding-left:1.5em; background:transparent url(../img/botons/destacar.gif) no-repeat left center; white-space:nowrap; }

.invisible { display:none; }
.important { font-weight:bold !important; }

input, select, textarea, button { font:normal 1em Arial, Helvetica, sans-serif; color:#000; line-height:1.3em !important; }
input, select, textarea { background-color:#fff; border:1px solid #7f7f7f; }
button { overflow:visible; padding:.1em .7em; cursor:pointer; }
/*input, textarea { padding:.2em; }*/
select { padding:.1em; }

input:focus, 
textarea:focus, 
input.focus,
textarea.focus { 
    border:1px solid #000 !important;
    color: Black !important;
}

input[type=text], input[type=password], select, textarea{
    border: 1px solid #CACACA;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    color: #666666;
}

h1 { font-size:1.5em; margin-bottom:.8em; }
h2 { font-size:1.2em; margin-top:1.5em;  }
h3 { font-size:1.1em; margin-top:1em; }
h4 { font-size:1em; margin-top:1em; }

p { line-height:1.4em; margin:.6em 0; }

div:focus { outline:1px dashed #c00; }

.clear {
    clear: both;
}

/* botons */

/*
a.btn { overflow:visible; display:inline-block; font:normal 1em Arial, Helvetica, sans-serif; color:#333; text-decoration:none; padding:3px 0; margin:0; background:none; border-width:0; }
a.btn span { padding:2px 0; margin:0; background:#eee url(../img/botons/fons_boto.gif) repeat-x left bottom; border-right:1px solid #aaa; border-left:1px solid #bbb; }
* html a.btn span { padding-top:0; }
a.btn span span { position:relative; padding:2px .5em; border-width:0; border-top:1px solid #bbb; border-bottom:1px solid #aaa; white-space:nowrap; }
a.btn:hover span, a.btn:focus span, a.btn:active span { color:#000; cursor:pointer; background-color:#ff9; border-color:#9cf !important; outline:none; }
*/
.btnGenerico{
    float:left;    
}
.btnGenerico{
    background: url(../img/botons/generico/cen.gif) 0 0 repeat-x;
}
.btnGenerico:hover{
    background-image: url(../img/botons/generico/cen_over.gif);
}
.btnGenerico a{
    background: url(../img/botons/generico/izq.gif) 0 0 no-repeat;
}
.btnGenerico:hover a{
    background-image: url(../img/botons/generico/izq_over.gif);
}
.btnGenerico a > span{
    background: url(../img/botons/generico/der.gif) 100% 0 no-repeat;    
}
.btnGenerico:hover a > span{
    background-image: url(../img/botons/generico/der_over.gif);  
}
.btnGenerico a,
.btnGenerico a span{
    display:block;
    height: 29px;
    text-align: center;
    font: 13px Arial, Helvetica, Sans-serif;
    color: #666666;
    line-height: 29px;
    text-decoration: none;
}
.btnGenerico a span span{   
    padding: 0 20px 0 20px;
}
.btnGenerico:hover,
.btnGenerico:hover span{
    color: Black;
}

span.sep { margin:0 1.5em; }

/* ids */

#contenidor { width:100%; }

#cap { 
    position:relative; 
    width:100%; 
    color:#fff;     
    background: url(../img/cap/fondo_cabecera.gif) #e57700 0 0 repeat-x;
}
#cap_contingut { 
    overflow:hidden; 
    width:58em;     
    height: 65px;   
    margin:0 auto;
    background: url(../img/cap/destello.jpg) 0 0 no-repeat;
}
#cap .logos { 
    display:block; 
    float:left;
    width:150px; 
}
#cap .logos .caib_logo {        
    height: 35px;
    margin-top: 15px;
    background:transparent url(../img/cap/logo.png) 0 0 no-repeat;
}
#cap .aplicacio { 
    display:block; 
    float:left;         
    padding: .2em 0 0 1.7em; 
    background: url(../img/cap/separador.gif) 0 13px no-repeat;
}
#cap .aplicacio span.nom { 
    font-size: 45px;
}
#cap .aplicacio span.versio { 
    position:relative; 
    top:-2em; 
    font-size:13px;
}
#cap .usuari { 
    display:block; 
    overflow:hidden; 
    float:left; 
    width:17em;     
    padding-top: 30px;  
}
#cap .usuari p {
    font-weight: bold;
    font-size: 13px;
    margin:0;
}
#cap .usuari p  strong{
    font-size: 18px;
}
#cap .usuari p a {  
    color:#fff;     
    font-weight: normal;
}
#cap .usuari p a:hover{
    text-decoration:underline;
}
#cap #tancarAplicacio { 
    display:block; 
    float: right; 
    width: 52px;    
    height:32px; 
    padding-left: 25px;
    padding-right: 20px;
    text-align:center;    
    margin-top: 15px;
    background-image: url(../img/cap/btn_salir.png);    
}
#cap #tancarAplicacio  a{
    display:block;  
    text-decoration: none;
    font-size: 13px;
    color: #666666;
    padding: 6px 0 0 0;
}
#cap #tancarAplicacio  a:hover,
#cap #tancarAplicacio  a:focus{
    text-decoration: underline;
}

#cap_pestanya { 
    position:absolute; 
    display:block;  
    z-index:1; 
    width: 37px;
    height: 18px;
    top: -3px;
    right: 0;   
    background-image: url(../img/cap/btn_plegar_cabecera.gif);
    cursor: pointer;
}
#cap_pestanya .plegada{ 
    background-image: url(../img/cap/btn_desplegar_cabecera.gif);
}
#cap_pestanya:hover, 
#cap_pestanya:focus { 
    background-color:transparent;
}

/* continguts */

#continguts {
    background-color: #F8F8F8;
}


/* mollaPa */
#mollaPa{
    background-color: White;
}
#mollaPa_contingut { 
    overflow:hidden; 
    width:57em; 
    padding:.5em 0 .5em 0; 
    margin:0 auto; 
    background:#fff;
}
#mollaPa_contingut ul.molla { 
    list-style:none;
    height: 23px;
}
#mollaPa_contingut ul.molla li {    
    white-space:nowrap;
    float:left;
    margin-right: 10px;
    background: url(../img/mollaPa/flecha.gif) 100% 50% no-repeat;
    padding-right: 19px;    
}
#mollaPa_contingut ul.molla li:last-child{
    background-image: none;
}
#mollaPa_contingut ul.molla li,
#mollaPa_contingut ul.molla li a{
    color: #666666;
    font-size: 13px;
    line-height: 23px;
    text-decoration: none;  
    height: 23px;
}
#mollaPa_contingut ul.molla li div{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 9px;
    background-color: #F0F0F0;
    border: 1px solid #C7C7C7;
    display:block;  
}
#mollaPa_contingut ul.molla li a:hover{
    text-decoration: underline;
}
#mollaPa_contingut ul.molla li.seleccionat { 
    font-weight:bold;    
}
#mollaPa_contingut ul.molla li.ua div{
	background-color: #F0F0F0;
	overflow: hidden;	
}
#mollaPa_contingut ul.molla li.ua div a.ua{
	float: left;
}
#mollaPa_contingut ul.molla li.ua div a.desplegar{
    display: block;
	width: 10px;
	height: 19px;
	margin: 2px 2px 2px 3px;
	padding: 0 6px;
	border-radius: 5px;
	float: right;
	background: url(../img/mollaPa/flecha_ua_padre.png) 50% 50% no-repeat;
}
#mollaPa_contingut ul.molla li.ua div a.desplegar:hover{
	background-color: White;
}
#mollaPa_contingut ul.molla li.ua.seleccionat div a.desplegar:hover{
	background-color: #F0F0F0;
}
#mollaPa_contingut ul.molla li.ua:first-child div{
	border: none;
	background-image: none;
	padding-right: 9px;
}
#mollaPa_contingut ul.molla li.ua.seleccionat div{
	background-color: White;
}
#mollaPa_contingut ul.molla li.uaHijas div{
	padding-right: 28px;
	background: url(../img/mollaPa/flecha_uahijas.gif) White 93% 50% no-repeat;
	cursor: pointer;
}
#mollaPa_contingut ul.molla li a.uaFilles.desplegado{
    border-radius: 5px 5px 0 0;
    background-color:White;
    position:relative;
    z-index: 200;
    border-bottom: none;
}

#uas { 
    display:none; 
    overflow:visible; 
    position:absolute; 
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 10px;    
    /*top:5em; 
    left:5em; */
    width:20em; 
    list-style:none; 
    background-color:#fff; 
    border:1px solid #ccc;     
    z-index:100;
    padding: 10px 0;
}
#uas li{
    padding: 2px 0;
}
#uas li a { 
    display:block;
    font-size: 13px;
    padding: 0 13px;
    line-height: 25px;
    text-decoration: none;
    color: Black;
}
#uas li a:hover{
    color: White;
    background-color: #FF910C;
}
#uas li span.carregant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }

#mollapaHome {
    vertical-align: middle;
    cursor: pointer;
}

/* titol */

#titol { width:100%; color:#000; background:#f1f1f1 url(../img/titol/fons.gif) repeat-x left bottom; }
#titol_contingut { overflow:hidden; width:58em; height:3em; padding:1.2em 0 0 0; margin:0 auto; }

#titol h1 { display:inline; font-size:1.7em; font-weight:normal; text-transform:uppercase; margin:0 .8em 0 .2em; }
#titol p { display:inline; margin:0; }
#titol p strong { font-weight:normal; margin-right:1.5em; }

#numTotal.carregant { font-style:italic; padding-left:1.8em; background:transparent url(../img/executant.gif) no-repeat left center; }

/* escriptori */

#escriptori { 
    overflow:hidden; 
    width:58em; 
    margin-left: auto;
    margin-right: auto;
}
#escriptori_contingut { }

/* suggeriment */

#suggeriment { width:100%; }
#suggeriment_contingut { overflow:hidden; width:50em; padding:1em 1em 1em 5em; margin:3em auto 0 auto; background:#fffddd url(../img/suggeriment/suggeriment.gif) no-repeat 1.5em 1em; border:1em solid #e1dfbe; }

#suggeriment_contingut h2 { padding:0; margin:0 0 1em 0; }

#suggeriment_contingut a.tancar { display:block; float:right; color:#c00; padding-left:1.8em; background:transparent url(../img/botons/tancar.gif) no-repeat left center; }

/* peu */

#peu { 
    overflow:hidden; 
    clear:both; 
    width:100%; 
    height:4em;     
    background-color: #F8F8F8;
    padding-top: 96px;
}
#peu_contingut { 
    overflow:hidden; 
    width:58em; 
    padding:1em 0; 
    margin:0 auto;
}
#peu div.logos { 
    width: 282px;
    margin-left: auto;
    margin-right: auto;
}
#peu img { padding:1px; margin:1em 1em 0 0; border:1px solid #ccc; }

/* missatge */

#missatge { display:none; position:fixed; top:0; left:0; z-index:10; width:30em; color:#000; padding:1em 1em 1em 7em; }
#missatge p.titol { font-size:1.4em; }
#missatge ul { list-style:circle; margin-left:1.5em; }
#missatge ul li { margin-bottom:.4em; }
#missatge .botonera { text-align:left !important; padding:1.5em 0 1em 0; }
#missatge button { overflow:visible; font-size:1.1em; font-weight:bold; padding:.2em 1em; margin:0 .5em; cursor:pointer; }

div.executant { background:#fff url(../img/missatge/executant.gif) no-repeat 1em 1.5em; border:1em solid #e9d6c9; }
div.error { background:#fff url(../img/missatge/error.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.fatal { background:#fff url(../img/missatge/fatal.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.correcte { background:#fff url(../img/missatge/correcte.gif) no-repeat 1em 1.5em; border:1em solid #aaddad; }
div.atencio { background:#fff url(../img/missatge/atencio.gif) no-repeat 1em 1.5em; border:1em solid #f2bc00; }
div.informacion { background:#fff url(../img/missatge/informacion.gif) no-repeat 1em 1.5em; border:1em solid #d3eff0; }

/* fons */

#fons { display:none; position:absolute; z-index:2; top:0; left:0; background-color:#fff; }

/* opcions pestanyes */

#opcions,
.tabOpciones { 
    height:37px; 
    list-style:none; 
    padding-top:1em; 
    margin-left:0;     
}
#opcions li,
.tabOpciones li { 
    display:block; 
    float:left; 
    position:relative;
    top:9px; 
    height: 27px; 
    line-height: 27px;
    margin-right: 3px;
    z-index:1;
    padding: 0 20px;
    text-align: center; 
    border: 1px solid #D3D3D3;
    border-bottom: none;
    padding-left: 35px;
    background-color: White;    
    background-repeat: no-repeat;
    background-position: 11px 50%;
    border-radius: 15px 15px 0 0;

    /*behavior: url(/rolsacback/js/pie/PIE.htc);    */
}
#opcions li a,
.tabOpciones li a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}
#opcions li a:hover,
.tabOpciones li a:hover{
    color: Black;
    text-decoration: underline;
}
#opcions li.actiu,
.tabOpciones li.actiu { 
    font-weight:bold; 
    background-color:#fff; 
    border-top:1px solid #D3D3D3; 
    border-right:1px solid #D3D3D3; 
    border-left:1px solid #D3D3D3;
    height: 36px;
    line-height: 36px;
    top: 1px;
}
#opcions li.actiu a,
.tabOpciones li.actiu a { 
    color: Black; 
    text-decoration:none;
}
#opcions li.actiu a:hover,
.tabOpciones li.actiu a:hover {     
    cursor:default;
}
#opcions li.L,  
.tabOpciones li.L{  
    background-image: url(../img/pestanyas/ico_listado_off.gif); 
}
#opcions li.actiu.L,
.tabOpciones li.actiu.L{
    background-image: url(../img/pestanyas/ico_listado.gif);
}
#opcions li.C, 
.tabOpciones li.C { 
    background-image: url(../img/pestanyas/ico_buscador_off.gif);
}
#opcions li.actiu.C,   
.tabOpciones li.actiu.C {   
    background-image: url(../img/pestanyas/ico_buscador.gif);
}
#opcions li.nuevo,
.tabOpciones li.nuevo{
    background-image: url(../img/pestanyas/ico_nuevo_off.gif);
}
#opcions li.actiu.nuevo,
.tabOpciones li.actiu.nuevo{
    background-image: url(../img/pestanyas/ico_nuevo.gif);
}


/* resultats */

#resultats,
#resultadosUnidadesHijas{ 
    clear:both;
    border: 1px solid #D3D3D3;
    /*border-top: none;*/
    border-radius: 0 10px 10px 10px;
    background-color: White;
}
#resultats div.resultats,
#resultadosUnidadesHijas div.resultats{ 
	display:none;
}
#resultats div.actiu,
#resultadosUnidadesHijas div.actiu { 
	display:block !important;
}

#resultats p.executant,
#resultadosUnidadesHijas p.executant { 
    font-size:1.3em; 
    font-style:italic; 
    padding:1em 0 1em 1.6em; 
    margin-left: 1em;
    background:#fff url(../img/executant.gif) no-repeat 0 1.1em;
}

#resultats p.info,	
#resultadosUnidadesHijas p.info{	
    padding: 10px 21px 0 21px;
    font: 13px Arial, Helvetica, Sans-serif;
    color: #333333;
}
#resultats p.info .itemsPagina,
#resultadosUnidadesHijas p.info .itemsPagina{
	display: block;
	float: right;
}
#resultats p.info .itemsPagina a,
#resultadosUnidadesHijas p.info .itemsPagina a{
	color: #2176DE;
	font-weight: bold;
}

#resultats p.noItems, 
#resultadosUnidadesHijas p.noItems { 
    font-size:1.3em; 
    padding: 1em 0 1em 2em !important; 
    margin-left: 1em;
    background:#fff url(../img/missatge/alerta.gif) no-repeat 0 50%;
}


/* llistats table */

div.table { 
    overflow:hidden;        
    font: 15px Arial, Helvetica, Sans-serif;
    margin-top: 20px;
    padding-bottom: 20px;
}
div.table div.thead, 
div.table div.thead div.tr { 
    overflow:hidden; 
    width:100%;     
}
div.table div.thead div.th { 
    float:left; 
    text-transform: uppercase;
    font: bold 11px Verdana, Helvetica, Sans-serif;
    color: #333333;
}
div.table div.tbody div.td {
    color: #666666;
}
div.table div.thead div.th,
div.table div.tbody div.td{ 
    min-height: 33px;
}
div.table div.thead div.th:last-child,
div.table div.tbody div.td:last-child{
    border-right: none;
}

div.table div.thead div.ASC a { 
    background-image:url(../img/ordenacio/asc.gif); 
    background-repeat:no-repeat; 
    background-position:.5em 95%;
}
div.table div.thead div.DESC a { 
    background-image:url(../img/ordenacio/desc.gif); 
    background-repeat:no-repeat; 
    background-position:.5em 95%;
}
div.table div.thead div.th a {    
    color:#000;
    padding-right: 10px;
    text-decoration: none;
    background: url(../img/ordenacio/ordenable.gif) 100% 1px no-repeat;
}
div.table div.thead div.th a:hover{
    text-decoration: underline;
}
div.table div.tbody, 
div.table div.tbody div.tr { 
    overflow:hidden; 
    width:100%;
    background-color: #F9F8F2;
}
div.table div.tbody div.par { 
    background-color: White;
}
div.table div.tbody div.td { 
    float:left;     
    line-height: 33px;
}
div.table div.tbody div.td span.id{
    color: black;
    padding-right: 10px;
}
div.table div.tbody div.td a{
    font-size: 15px;
    color: #2176DE;
    text-decoration: underline; 
}
div.table div.tbody div.td a:hover{
    color: Black;
}
div.table div.tbody div.td select.ordenacion{
	width: 70px;
	margin-top: 5px;
} 

/* Navegador multipágina */

.paginacio {
    font: 12px Arial, Helvetica, Sans-serif;
    color: #333333;
    text-align:left; 
    height: 50px;
    width: 330px;
    margin: 0 auto;
    padding: 13px 0 10px 0;    
}
.paginacio a,
.paginacio strong{
	display: block;
	float: left;	
    color: #333333;
    height: 19px;
    line-height: 19px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    background-color: #F8F8F8;
    border-radius: 3px;
    text-align: center;
    padding: 0 5px;
    text-decoration: none;
}
.paginacio a:hover{
	color: White;
	border-color: #FF910C;
	background-color: #FF910C; 
}
.paginacio strong{
	border: none;
	background-color: transparent;
	color: #FF910C;
}
.paginacio a span{
	display: block;
	margin: 4px auto 0 auto;	
}
.paginacio a.inicio,
.paginacio a.retroceder{
	border: none;
	background-color: transparent;
}
.paginacio a.inicio span,
.paginacio a.retroceder span{
    float: left;
	width: 10px;
	height: 12px;
	background: url(../img/paginador/retroceder.gif) 0 0 no-repeat;		
}
.paginacio a.inicio:hover span{
	background-position: -31px 0;
}
.paginacio a.retroceder span{	
	background-position: -16px 0;
}
.paginacio a.retroceder:hover span{
	background-position: -47px 0;
}
.paginacio form{
	float: left;
}
.paginacio form{
	display: block;	
	margin-right: 5px;
}
.paginacio form input{
	width: 39px;
	height: 17px;
	border: 1px solid #676767;
	border-radius: 0;
	line-height: 17px;
}
.paginacio span.de{
	float: left;
	line-height: 21px;
	margin-right: 8px;
}
.paginacio .siguiente{
	background: url(../img/paginador/siguiente.gif) 0 0 no-repeat;
	width: 21px;
	height: 21px;
	padding: 0;
	border: none;
}
.paginacio .siguiente:hover{
	background-position: -21px 0;
}


/* cercador */

#cercador_contingut,
.cercador_contingut { 
    overflow:hidden;     
    padding:1em; 
    margin:0 auto;  
}
#cercador h2,
.cercador h2 { 
    font: bold 11px Verdana, Arial, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;  
    margin: 5px 0 20px 0;
}
#cercador div.fila,
.cercador div.fila { 
    overflow:hidden; 
    width:100%; 
    padding:0; 
    margin-bottom:1em;
}
#cercador div.element,
.cercador div.element{
    overflow:hidden;
    float: left;
    height:54px;    
}
#cercador .element.t6,
.cercador .element.t6{
    width: 5.9%;
}
#cercador .element.t10,
.cercador .element.t10{
    width: 9.9%;
}
#cercador .element.t13,
.cercador .element.t13{
    width: 12.9%;
}
#cercador .element.t16,
.cercador .element.t16{
    width: 15.9%;
}
#cercador .element.t21,
.cercador .element.t21{
    width: 20.9%;
}
#cercador .element.t25,
.cercador .element.t25{
    width: 24.9%;
}
#cercador .element.t30,
.cercador .element.t30{
    width: 29.9%;
}
#cercador .element.t50,
.cercador .element.t50{
    width: 49.9%;
}
#cercador .element.t75,
.cercador .element.t75{
    width: 74.9%;
}
#cercador div.element .control,
.cercador div.element .control{
    padding-right: 20px;
}
/*#cercador div.element:last-child .control{
    padding-right: 2px;
}*/
#cercador input[type=text], #cercador select, #cercador input[type=password],
.cercador input[type=text], #cercador select, #cercador input[type=password]{
    width: 99.9%;
}
#cercador input[type=text], #cercador input[type=password],
.cercador input[type=text], #cercador input[type=password] {
    height: 20px;
}

#cercador div input.on, 
.cercador div input.on { 
	background-color:#ddfeff !important; border:1px solid #7f9db9 !important;
}
/*#cercador div input.t8, #cercador div select.t8 { width:6em !important; }*/
#cercador div input.t17, 
.cercador div input.t17 { 
	width:12.5em !important;
}

#cercador input.text, 
.cercador input.text{ 
	width:15.5em; background-color:#fff; border:1px solid #7f9db9;
}
#cercador texconvenio, 
.cercador texconvenio { 
	width:50em; height:5.5em; background-color:#fff; border:1px solid #7f9db9;
}
#cercador texconvenio.texconvenioOn, 
.cercador texconvenio.texconvenioOn { 
	background-color:#ddfeff;
}
#cercador ul.seleccioMultiple, 
.cercador ul.seleccioMultiple { 
	overflow:auto; width:20em; height:5.5em; background-color:#fff; border:1px solid #7f9db9;
}
#cercador ul.seleccioMultiple li, 
.cercador ul.seleccioMultiple li { 
	padding-left:.5em;
}
#cercador ul.enLinia li, 
.cercador ul.enLinia li { 
	display:inline; padding-left:.5em; border-left:1px solid #e0e0e0;
}
#cercador div.etiqueta, 
.cercador div.etiqueta, 
#cercador label.etiqueta,    
.cercador label.etiqueta{    
    font: 13px Arial, Helvetica, Sans-serif;
}
#cercador div.etiqueta:after, 
.cercador div.etiqueta:after { 
	content:":";
}
#cercador label.checkbox,
.cercador label.checkbox {
    padding-right: 2em;
}
#cercador div.control,
.cercador div.control {
    padding-top: 2px;
}
#cercador div.control ul, 
.cercador div.control ul{ 
	list-style:none;
}
#cercador div.noClear,
.cercador div.noClear{
    clear: none !important;
}
#cercador div.botonera, 
.cercador div.botonera { 
    clear: both;
    float:right;    
}
#cercador .botonera .boton,
.cercador .botonera .boton{
    margin-left: 11px;
}
#cercador .botonera .btn.consulta > span > span,
.cercador .botonera .btn.consulta > span > span{
    background: url(../img/pestanyas/ico_buscador.gif) 15px 50% no-repeat;
}
#cercador .botonera .btn.borrar > span > span,
.cercador .botonera .btn.borrar > span > span{
    background: url(../img/botons/iconos/borrar.png) 15px 50% no-repeat;
}
#cercador .botonera .btn.torna > span > span,
.cercador .botonera .btn.torna > span > span{
    background: url(../img/botons/iconos/volver.gif) 15px 50% no-repeat;
}
#cercador .botonera .btn.inserta > span > span,
.cercador .botonera .btn.inserta > span > span {
    background: url(../img/botons/afegix.gif) 15px 50% no-repeat;
}

#cercador .botonera .btn.insertaDesc > span > span,
.cercador .botonera .btn.insertaDesc > span > span {
    background: url(../img/botons/afegeixDesc.gif) 5px 50% no-repeat;
}
#cercador .botonera .btnGenerico a span span,
.cercador .botonera .btnGenerico a span span{
    padding-left : 40px;
}


/*#cercador div.rabillo { height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }*/

#cercador div.mesDades, 
.cercador div.mesDades { 
	display:none;
}

#cercador a.mesDades, 
.cercador a.mesDades { 
	padding-left:1.2em; background:transparent url(../img/cercador/mesDades_off.gif) no-repeat left center;
}
#cercador a.on, 
.cercador a.on { 
	background-image:url(../img/cercador/mesDades_on.gif);
}

#cercador_contingut .busquedaBasica,
.cercador_contingut .busquedaBasica,
#cercador_contingut .busquedaAvanzada,
.cercador_contingut .busquedaAvanzada{
    float: left;
    width: 735px;
    padding-bottom: 20px;
}

#cercador_contingut .opcionesBusqueda,
.cercador_contingut .opcionesBusqueda{
    float: right;
    width: 201px;
    border-radius: 10px;
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
    padding: 20px;
}
#cercador_contingut .opcionesBusqueda h2,
.cercador_contingut .opcionesBusqueda h2{
    margin: 0 0 15px 0;
}
#cercador_contingut .opcionesBusqueda .fila,
.cercador_contingut .opcionesBusqueda .fila{
    padding-bottom: 10px;
    margin-bottom:0;
}
#cercador_contingut .opcionesBusqueda .fila .element,
.cercador_contingut .opcionesBusqueda .fila .element{
    height: auto;
}
#cercador_contingut .opcionesBusqueda .fila label,
.cercador_contingut .opcionesBusqueda .fila label{
    font: 13px Arial, Helvetica, Sans-serif;
}
#cercador_contingut .opcionesBusqueda .checkbox  input,
.cercador_contingut .opcionesBusqueda .checkbox  input{
    float: left;
}

/* suggeriments_resultats */

#suggeriments_resultats { display:none; position:absolute; top:0; left:0; list-style:none; background-color:#fff; border:1px solid #ccc; border-bottom:0; }
#suggeriments_resultats li { border-bottom:1px solid #ccc; }

#suggeriments_resultats li span { font-size:.8em; padding-left:.5em; }

#suggeriments_resultats li a { display:block; padding:.3em .7em .4em .7em; }
#suggeriments_resultats li a:hover { background-color:#ff9; }

#suggeriments_resultats li.selec { background-color:#ff9; }

/* detall */

#carregantDetall { font-size:1.3em; font-style:italic; padding:1em 0 1em 1.6em; background:#fff url(../img/executant.gif) no-repeat left center; }

.escriptori_detall { 
    display:none; 
    font: 13px Arial, Helvetica, Sans-serif;
    color: Black;
}
.escriptori_detall h2{
    display: none;
}
.escriptori_detall .disabled {
	color: Grey;
}
.escriptori_detall .grupoModulosFormulario{
    float: left;
    width: 779px;       
}
.escriptori_detall .grupoModulosFormulario div.modul{
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #D4D4D4;
    background-color: White;
    margin-bottom: 30px;    
    position:relative;    
    padding: 25px 0 25px 21px;
}
.escriptori_detall .grupoModulosFormulario div.modul a.modul{
    position:absolute;
    right: 9px;
    top: 9px;
    display:block;
    text-indent: -1000px;
    width: 16px;
    height: 16px;
    background-image: url(../img/botons/desplegar.png);
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias{
    padding: 0;
}

.escriptori_detall .grupoModulosFormulario div.modul.auditorias{
    padding: 0;
}
#modulAuditories, #modulEstadistiques {
	display:none;
}

#modulAuditories .modul_continguts {
	display:none;
}

.escriptori_detall .grupoModulosFormulario div.modul.auditorias legend{
    padding: 25px 0 20px 21px;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table{
    width: 100%;
    border-collapse: collapse;    
    margin-bottom: 20px;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table div{    
    padding: 6px 17px 6px 17px;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table th{
    text-align: left;    
    text-transform: uppercase;
    color: Black;
    font: bold 11px Verdana, Helvetica, Sans-serif;
    padding: 0;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table th div{
    padding-bottom: 10px;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table tbody tr{
    background-color: #F9F8F2;    
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .usuariocode{
    width: 25%;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .nombre{
    width: 40%;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .usuario{
    width: 60%;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .usuario div{
    padding-left: 21px;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .fecha div,
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .operacion div{
    border-left: 1px dashed #A2A2A2;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .fecha{
    width: 20%;
    color: #666666;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table th.fecha{
    color: Black;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table .operacion{
    width: 20%;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table tbody tr td{
    padding: 3px 0;
    text-align: left;
}
.escriptori_detall .grupoModulosFormulario div.modul.auditorias table tbody tr:nth-child(2n){
    background-color: White;
}
.escriptori_detall .grupoModulosFormulario legend, .escriptori_detall .grupoModulosFormulario p.titol {
    font: bold 11px Verdana, Arial, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;    
}
.escriptori_detall .grupoModulosFormulario .etiqueta{
    height: 21px;   
    overflow: hidden;
}
.escriptori_detall .grupoModulosFormulario .obligatori{ 
    color: #CC0000;
}
.escriptori_detall .grupoModulosFormulario .fila{
    clear:both;
    margin-bottom: 20px;
    overflow: hidden;
}
.escriptori_detall .grupoModulosFormulario input[type=text], .escriptori_detall .grupoModulosFormulario input[type=password]{    
    border: 1px solid #C7DDEB;
    background-color: #ECF6FC;
    color: Black;
    height: 21px;   
    width: 99.8%;
    padding: 2px 0;
    border-radius: 5px 5px 5px 5px;
}
.escriptori_detall .grupoModulosFormulario textarea,
#escriptori_tramits .control textarea{    
    background-color: #ECF6FC;
    width: 733px;
}
.escriptori_detall .grupoModulosFormulario .control.select,
#escriptori_tramits .control.select{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #C7DDEB;
    background-color: #ECF6FC;
    height: 21px;   
    padding: 2px 0;
}
.escriptori_detall .grupoModulosFormulario .control.select select,
#escriptori_tramits .control.select select{
    background-color: transparent;
    width: 99.9%;
    border: none;
}
.escriptori_detall .grupoModulosFormulario .campoImagen .thumbnail{
    border: 1px solid #D4D4D4;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 9px;
    overflow:hidden;
}
.thumbnail img{
	max-height: 50px;
	max-width: 50px;
}
.escriptori_detall .grupoModulosFormulario .archivo .archivoActual{
    padding-top: 10px;
}
.escriptori_detall .grupoModulosFormulario .archivo .archivoActual a{
    color: #0099CC;
}
.escriptori_detall .grupoModulosFormulario .archivo .checkBorrar{
    padding-left: 20px;
}
.escriptori_detall .grupoModulosFormulario .archivo .checkBorrar input{
    position: relative;
    top: 3px;
}

.escriptori_detall .grupoModulosFormulario .element{
    float: left;    
}
.escriptori_detall .grupoModulosFormulario .element .control{   
    margin-right: 25px;
}
.escriptori_detall .grupoModulosFormulario .element.checkbox {
    margin-right: 25px;
}
.escriptori_detall .grupoModulosFormulario .element.checkbox .etiqueta,
.escriptori_detall .grupoModulosFormulario .element.checkbox .control{
    float: left;
}
.escriptori_detall .grupoModulosFormulario .element.checkbox .control{
    margin: 0 3px 0 0;
}
.escriptori_detall .grupoModulosFormulario .t20p{
    width: 19.9%;
}
.escriptori_detall .grupoModulosFormulario .t25p{
    width: 24.9%;
}
.escriptori_detall .grupoModulosFormulario .t30p{
    width: 29.9%;
}
.escriptori_detall .grupoModulosFormulario .t50p{
    width: 49.9%;
}
.escriptori_detall .grupoModulosFormulario .t75p{
    width: 74.9%;
}
.escriptori_detall .grupoModulosFormulario .t99p{
    width: 99.9%;
}

/* Botones */

.escriptori_detall .botonera,
.menuPublicacion .botonera{
    float: right;
    width: 286px;    
}
.escriptori_detall .botonera ul,
.menuPublicacion .botonera ul{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;  
    overflow: hidden;
    padding: 15px;
    
    border-radius: 15px 15px 15px 15px;
}
.escriptori_detall .botonera ul li,
.escriptori_detall .botonera ul li a,
.escriptori_detall .botonera ul li span,
.menuPublicacion .botonera ul li,
.menuPublicacion .botonera ul li a,
.menuPublicacion .botonera ul li span{
    height: 38px;
    font: 16px/38px Impact, Arial, Helvetica, Sans-serif;
    color: White;
    display:block;
    text-align: center; 
}
.escriptori_detall .botonera ul li,
.menuPublicacion .botonera ul li{
    list-style: none;
    float: left;
    background: url(../img/botons/opcion1/cen.gif) 0 0 repeat-x;
    min-width: 105px;
    margin-bottom: 10px;
}
.escriptori_detall .botonera ul li a,
.menuPublicacion .botonera ul li a{   
    background: url(../img/botons/opcion1/izq.gif) 0 0 no-repeat;
    text-decoration: none;
}
.escriptori_detall .botonera ul li a:hover,
.menuPublicacion .botonera ul li a:hover{ 
    text-decoration: underline;
}
.escriptori_detall .botonera ul li a > span,
.menuPublicacion .botonera ul li a > span{
    background: url(../img/botons/opcion1/der.gif) 100% 0 no-repeat; 
}
.escriptori_detall .botonera ul li a > span span,
.menuPublicacion .botonera ul li a > span span{
    padding: 0 15px 0 32px;
    text-transform: uppercase;
}


/* Boton eliminar */

.escriptori_detall .botonera ul li.btnEliminar,
.menuPublicacion .botonera ul li.btnEliminar{
    clear: left;
}
.escriptori_detall .botonera ul li.btnEliminar,
.menuPublicacion .botonera ul li.btnEliminar{
    background-image: url(../img/botons/opcion2/cen.gif);
}
.escriptori_detall .botonera ul li.btnEliminar a,
.menuPublicacion .botonera ul li.btnEliminar a{   
    background-image: url(../img/botons/opcion2/izq.gif);    
}
.escriptori_detall .botonera ul li.btnEliminar a > span,
.menuPublicacion .botonera ul li.btnEliminar a > span{
    background-image: url(../img/botons/opcion2/der.gif);    
}
.escriptori_detall .botonera ul li.btnEliminar a span span,
.menuPublicacion .botonera ul li.btnEliminar a span span{
    background: url(../img/botons/iconos/borrar.png) 10px 50% no-repeat; 
}


/* Boton previsualizar */

/*.escriptori_detall .botonera ul li.btnPrevisualizar{
    float: right;
}*/
.escriptori_detall .botonera ul li.btnPrevisualizar,
.menuPublicacion .botonera ul li.btnPrevisualizar{
    background-image: url(../img/botons/opcion2/cen.gif);
}
.escriptori_detall .botonera ul li.btnPrevisualizar a,
.menuPublicacion .botonera ul li.btnPrevisualizar a{  
    background-image: url(../img/botons/opcion2/izq.gif);    
}
.escriptori_detall .botonera ul li.btnPrevisualizar a > span,
.menuPublicacion .botonera ul li.btnPrevisualizar a > span{
    background-image: url(../img/botons/opcion2/der.gif);    
}
.escriptori_detall .botonera ul li.btnPrevisualizar a span span,
.menuPublicacion .botonera ul li.btnPrevisualizar a span span{
    background: url(../img/botons/iconos/previsualizar.png) 13px 50% no-repeat;  
}

/* Boton duplicar */

.escriptori_detall .botonera ul li.btnDuplicar,
.menuPublicacion .botonera ul li.btnDuplicar{
    background-image: url(../img/botons/opcion2/cen.gif);
}
.escriptori_detall .botonera ul li.btnDuplicar a,
.menuPublicacion .botonera ul li.btnDuplicar a{  
    background-image: url(../img/botons/opcion2/izq.gif);    
}
.escriptori_detall .botonera ul li.btnDuplicar a > span,
.menuPublicacion .botonera ul li.btnDuplicar a > span{
    background-image: url(../img/botons/opcion2/der.gif);    
}

.escriptori_detall .botonera ul li.btnDuplicar a span span,
.menuPublicacion .botonera ul li.btnDuplicar a span span{
    background: url(../img/botons/iconos/duplicar.png) 13px 50% no-repeat;  
}


/* Boton volver */

.escriptori_detall .botonera ul li.btnVolver a span span,
.menuPublicacion .botonera ul li.btnVolver a span span{
    background: url(../img/botons/iconos/volver.png) 13px 50% no-repeat; 
}


/* Boton guardar */

.escriptori_detall .botonera ul li.btnGuardar a span span,
.menuPublicacion .botonera ul li.btnGuardar a span span{
    background: url(../img/botons/iconos/guardar.png) 13px 50% no-repeat;    
}


/* Boton publicar */

.escriptori_detall .botonera ul li.btnPublicar span span,
.menuPublicacion .botonera ul li.btnPublicar span span{
    background: url(../img/botons/iconos/publicar.png) 5px 50% no-repeat;    
}


/* Boton deshabilitado */

.escriptori_detall .botonera ul li.off,
.menuPublicacion .botonera ul li.off{ 
    background-image: url(../img/botons/opcion_off/cen.gif); 
}
.escriptori_detall .botonera ul li.off a,
.menuPublicacion .botonera ul li.off a{   
    background-image: url(../img/botons/opcion_off/izq.gif);     
    cursor: default;
}
.escriptori_detall .botonera ul li.off a:hover,
.menuPublicacion .botonera ul li.off a:hover{ 
    text-decoration: none;
}
.escriptori_detall .botonera ul li.off a > span,
.menuPublicacion .botonera ul li.off a > span{
    background-image: url(../img/botons/opcion_off/der.gif); 
}

.escriptori_detall .botonera ul li.par,
.menuPublicacion .botonera ul li.par{
    clear: left;
}
.escriptori_detall .botonera ul li.impar,
.menuPublicacion .botonera ul li.impar{
    float:right;
}

.escriptori_detall .botonera ul li.off,
.menuPublicacion .botonera ul li.off{ 
    background-image: url(../img/botons/opcion_off/cen.gif); 
}

/* Módulo lateral */

.escriptori_detall .modulLateral,
.menuPublicacion{
    margin-top: 0;
    float: right;
    width: 286px;    
}

.escriptori_detall .modulLateral div.modul,
.menuPublicacion  div.modul{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;  
    overflow: hidden;
    padding: 15px;
    margin-bottom: 33px;
    position:relative;
    
    border-radius: 15px 15px 15px 15px;
}

.escriptori_detall .modulLateral div.modul.destacado,
.menuPublicacion div.modul.destacado{
    padding: 0;
    background-color: White;        
    
    border-radius: 0px 15px 15px 0px;
    border-left: none;        
    left: -21px;
    width: 306px;
    overflow: visible;
    
    /*left: -19px;    
    width: 304px;*/
}

.escriptori_detall .modulLateral div.modul.destacado .dec1,
.escriptori_detall .modulLateral div.modul.destacado .dec2,
.menuPublicacion div.modul.destacado .dec1,
.menuPublicacion div.modul.destacado .dec2{
    position: absolute;
    left: 0;    
    width: 42px;
    height: 13px;
}
.escriptori_detall .modulLateral div.modul.destacado .dec1,
.menuPublicacion div.modul.destacado .dec1{
    top: -13px;        
    background-image: url(../img/marcos/modulo_borde_sup.gif);
}
.escriptori_detall .modulLateral div.modul.destacado .dec2,
.menuPublicacion div.modul.destacado .dec2{
    bottom: -13px;        
    background-image: url(../img/marcos/modulo_borde_inf.gif);
}
.escriptori_detall .modulLateral div.modul.destacado .interior,
.menuPublicacion div.modul.destacado .interior{
    position: relative;    
    padding: 15px 15px 15px 36px;
    
}
.escriptori_detall .modulLateral div.modul a.modul,
.menuPublicacion div.modul a.modul{
    position:absolute;
    right: 9px;
    top: 9px;
    display:block;
    text-indent: -9000px;
    width: 16px;
    height: 16px;
    background-image: url(../img/botons/desplegar.png);
}

.escriptori_detall .modulLateral .modul fieldset legend,
.menuPublicacion .modul fieldset legend{
    font: bold 11px Verdana, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}

.escriptori_detall .modulLateral .botonera,
.menuPublicacion  .botonera{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 15px 0 0 0;
    float: none;
    width: auto;
    clear:both;
}

.escriptori_detall .modulLateral .botonera ul,
.menuPublicacion .botonera ul{
    padding: 0;
    border: none;
    border-radius: 0;    
}

.escriptori_detall .modulLateral .left,
.menuPublicacion .left {
    clear: both;
    float:left;
    width: 49%;
    padding-bottom: 10px;
}

.escriptori_detall .modulLateral .right,
.menuPublicacion .right {
    float:left;
    width: 49%;
    padding-bottom: 10px;
}

.escriptori_detall .modulLateral .left input,
.escriptori_detall .modulLateral .right input,
.escriptori_detall .modulLateral .left select,
.menuPublicacion .left input,
.menuPublicacion .right input,
.menuPublicacion .left select {
    width: 80%;
}


#btnBorrar { color:#c00; }

.escriptori_detall div.rabillo_dalt { height:1em; margin-bottom:2em; /*background:transparent url(../img/botonera/rabillo_dalt_c_ccd7e2.gif) no-repeat center top;*/ }

.escriptori_detall div.rabillo { clear:both; height:1em; /*background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom;*/ }


/* botonera publicacio */

.escriptori_detall div.publicacio { background-color:#f0f0ee; }
.escriptori_detall div.publicacio fieldset legend { padding-bottom:0; }

.escriptori_detall div.publicacio p.dalt { padding:.5em 1em; margin-right:1em; margin-bottom:1em; background-color:#ccd7e2; }
.escriptori_detall div.publicacio p.baix { text-align:right; padding:.5em 1em; margin-right:1em; background-color:#ffc977; }

.escriptori_detall div.publicacio p.iEsborrany { background-color:#ffc977; }
.escriptori_detall div.publicacio p.iCaducat { background-color:#e99191; }
.escriptori_detall div.publicacio p.iPublicat { background-color:#a0eca0; }

/*No hi ha unitat seleccionada*/

.escriptori_detall p.noUnitat {
    background: url("../img/missatge/alerta.gif") no-repeat scroll 0 50% #FFFFFF;
    font-size: 1.3em;
    padding: 1em 0 1em 2em !important;
}


/* idiomes modulPrincipal */

.modulPrincipal .introIdiomas{
    float: left;
    margin: 0;
    padding-top: 5px;
    line-height: 15px;
}
.modulPrincipal ul.idiomes{
    list-style: none;
    height: 50px;
}
.modulPrincipal ul.idiomes li.idioma{
    float: left;
    font-size: 13px;
    padding: 5px 12px 0 12px;
}
.modulPrincipal ul.idiomes li.seleccionat{
    font-weight: bold;
    color: black;
}
.modulPrincipal ul.idiomes li.idioma a{ 
    color: #0099CC;
    text-decoration: underline;
}

/* docs */

div.modul div.llistat div.thead div.th { padding:.2em .5em 1em .5em; }

div.modul div.llistat div.tbody div.tr { padding:1em 0; }

/*div.modul div.llistat div.tbody div.td input, div.llistat div.tbody div.td span.doc, div.llistat div.tbody div.td a { font-size:1.1em; }*/

div.modul div.llistat div.tbody div.td span.elimina { text-decoration:line-through; }

div.modul div.llistat div.tbody div.nou { display:none; }


/* Módulo selector con checkboxes (materias, hechos vitales, ...) */

.escriptori_detall .modulLateral .selectorChecks .llistat{
    clear:both;
    padding-top: 10px;
    display: none;
}
.escriptori_detall .modulLateral .selectorChecks .llistat ul{
    list-style: none;
}
.escriptori_detall .modulLateral .selectorChecks .llistat li{
    float: left;
    width: 49.9%;
    font-size: 10px;
}
.escriptori_detall .modulLateral .selectorChecks .llistat li input{
    float:right;
    margin-right: 5px;
}
.escriptori_detall .modulLateral .selectorChecks .llistat li.impar,
.escriptori_detall .modulLateral .selectorChecks .llistat li:nth-child(2n+1){
    clear:left; 
}
.escriptori_detall .modulLateral .selectorChecks .botonera{
    clear: both;
    padding-top: 10px;
}
.escriptori_detall .modulLateral .selectorChecks  .botonera .btnGenerico{
    margin-right: 10px;
}

/* modul tramits */

div.modulTramits { padding-bottom:1em; }

div.modulTramits div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulTramits div.seleccionats ul li { padding-bottom:.4em; }
div.modulTramits div.seleccionats p.info { margin-top:0; }

/* previsualitzacio */

#escriptori_previsualitza { display:none; margin:0 0 4em 0; }
#escriptori_previsualitza h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; color: #666666;}
#escriptori_previsualitza a.torna > span > span {
    background: url("../img/botons/iconos/volver.gif") no-repeat scroll 15px 50% transparent;
	padding-left: 40px;
}
div.previsualitzacio { margin-top: 4em; padding:1em; border:1px solid #ccc; }
div.previsualitzacio iframe { width:100%; height:40em; border:0; }


/* modul lateral */

.modulLateral .multilang  ul.idiomes { 
    overflow:hidden; 
    list-style:none; 
    padding:.5em 0 0 0; 
    margin-bottom:1em;
    color: #0099CC;
}
.modulLateral .multilang ul.idiomes li { 
    float:left; 
    height:1.5em; 
    padding:.3em 0.5em 0.3em 0.5em; 
    margin:0;
    border-radius: 6px;
}
.modulLateral .multilang ul.idiomes li.introIdiomas {padding-left: 0; color: #000;}
.modulLateral .multilang ul.idiomes li.seleccionat { background-color:#fff; color: #000; font-weight: bold;}
.modulLateral .multilang ul.idiomes li.seleccionat a { font-weight:bold; color:#000; text-decoration:none; }

.modulLateral .multilang div.seleccionats .cajaIdioma{ 
    display:none;
}
.modulLateral .multilang div.seleccionats div.seleccionat { display:block; }
.modulLateral .multilang ul li div span.doc { display:block; float:left; text-align:left; }

.modulLateral .multilang div.seleccionats ul { 
    list-style:none;
}


/* Lista ordenable */

.listaOrdenable ul{
    list-style: none;
}
.listaOrdenable ul li{
    position: relative;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #E3E3E3;
    background-color: White;
    padding: 5px 10px;
    margin-bottom: 5px; 
}
.listaOrdenable ul li > div{
    padding-right: 20px;
}
.listaOrdenable ul li a.elimina{
    display:block;
    position: absolute;
    right:0;
    top: 0;
    background: url(../img/botons/iconos/lista_eliminar.gif) 50% 50% no-repeat;
    width: 24px;
    height: 24px;
}
.listaOrdenable ul li a.elimina span{
    display: none;
}
.listaOrdenable ul li a.edita{
    display:block;
    position: absolute;
    right:0;
    top: 0;
    background: url(../img/botons/edita.gif) 50% 50% no-repeat;
    width: 24px;
    height: 24px;
}
.listaOrdenable ul li a.edita span{
    display: none;
}


/* arxius */

div.grup_arxiu_actual {
    margin-bottom: 1em;
}

div.grup_arxiu_actual label {
    display: inline;
    margin-right: 0.25em;
}

div.grup_arxiu_actual span {
    margin-left: 1em;
    font-weight: bold;
}

div.grup_arxiu_actual a {
    margin-right: 2em;
}

div.grup_arxiu_nou label {
    margin-right: 1em;
}


div.modulLateral div.seleccionat ul {
    list-style: none !important;
    margin-left: 0 !important;
}

/* PER VERIFICAR */

/* error */

#error { color:#000; padding:0 1em 1em 7em; margin:3em 0; background:#fff url(../img/missatge/error.gif) no-repeat 1em 0; }
#error h1 { font-size:1.5em; font-weight:normal; color:#900; padding:0; background:none; }

/* ajuda */

#ajuda { position:fixed; right:.5em; bottom:.5em; width:15em; height:20em; background-color:#fff; border:2px solid #000; }

#ajuda div.botonera { height:2em; text-align:right; background-color:#000; }
#ajuda div.botonera a { font-size:.9em; color:#fff; margin-right:.5em; }
#ajuda div.botonera a:hover { color:#ff9; background-color:#000; }

#ajuda iframe { width:15em; height:18em; }

#popUA,
#popET,
#popS {
    left: 30%;
    position: fixed;
    top: 15%;
}

#popCoordenades {
    position: fixed;
    left: 30%;
    top: 15%;
}


/* Módulo lateral documentos relacionados */

#modulDocumentNormativa  .element{
    padding-bottom: 10px;
}
#modulDocumentNormativa  .enlace label{
    display: block;
    padding-bottom: 4px;    
}
#modulDocumentNormativa  .element input.nou{
    width: 100%;
    height: 20px;
}
#modulDocumentNormativa a{
    color: #0099CC;    
}


/* Módulo lateral Relació Orgànica */

.modulRelacioOrganica input.item_pare,
.modulRelacioOrganica input#item_ua_nom{
    height: 23px;
    width: 100%;
}
.modulRelacioOrganica .borrar{
    float:right;
}
.modulRelacioOrganica  .botonera .btn.borrar > span > span{
    background: url(../img/botons/iconos/borrar.png) 15px 50% no-repeat;
    padding-left : 35px;
}

/*#349 modificación pantalla proc */
#item_familia{
    width: 80% !important;
}
#labelFamilia .obligatori{
	display:none;
}