@charset "utf-8";

#escriptori_fitxes {
	display: none;
}

div.llistat div.thead div.fitxa { 
    width: 580px; 
    padding-left: 50px; 
}
div.llistat div.tbody div.fitxa{ 
    width: 600px;   
    padding-left: 50px;
    background: url(../img/taula_llistat/fitxa.gif) 21px 7px no-repeat;
}
div.llistat div.publicacio,
div.llistat div.caducitat { 
    width: 100px;
    padding: 0 12px;
}

.escriptori_detall .modulLateral .left input, .escriptori_detall .modulLateral .right input, escriptori_detall .modulLateral .left select {
    width: 85%;
}

div.llistat div.tbody div.fitxaCaducat {
    background: url("../img/taula_llistat/fitxa_caducada.gif") no-repeat scroll 21px 7px transparent;
    width: 600px;   
    padding-left: 50px;
}

#ficha-botones-form {
	clear: both;
	margin-top: -2%;
}

#escriptori_fitxes div.btnVolverDetalleFichas a.btn span span {
	background: url("../img/botons/iconos/volver.gif") no-repeat scroll 15px 50% transparent;
}

#escriptori_fitxes div.llistat .thead div.nom {
	width: 82%;
	padding-left: 21px;
}

#seleccion-fichas {
	display: none;
	margin-top: 30%;
}

.listaOrdenable ul li a.asigna {
	background: url("../img/botons/afegix.gif") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
}

#escriptori_fitxes a.finalitza > span {
	margin-left: -18px;
}

#seleccion-fichas p.executant {
	background: url("../img/executant.gif") no-repeat scroll 0 1.1em ;
    font-size: 116%;
    font-style: italic;
    margin-left: 1em;
    padding: 1em 0 1em 1.6em;	
}

#escriptori_fitxes div.tbody > .tr > div.enllas > span {
    background: url("../img/botons/iconos/lista_eliminar.gif") no-repeat scroll 95% 50% transparent;
    cursor: pointer;
    height: 3%;
    position: absolute;
    width: 3%;
}

#escriptori_fitxes p.noItems {
	background: url("../img/missatge/alerta.gif") no-repeat scroll 0 1.1em ;
    font-size: 116%;
    margin-left: 1em;
    padding: 1em 0 1em 1.6em;	
}
 
#escriptori_fitxes div.escriptori_items_seleccionats {
	margin-bottom: auto;
	display: inherit;
	margin-top: 50px;
}

#modulo-fichas-asignadas {
	display: inherit;
	margin-right: 15px;
}