@charset "utf-8";

/* modul lateral seccions */

/*div.modulSeccions { padding-bottom:1em; }

div.modulSeccions div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulSeccions div.seleccionats ul li { padding-bottom:.4em; }
div.modulSeccions div.seleccionats ul li:hover { background-color:#ffc; }
div.modulSeccions div.seleccionats p.info { margin-top:0; }
*/

/* escriptori seccions */

#escriptori_seccions { display:none; margin:0 0 4em 0; }
#escriptori_seccions h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; }

#escriptori_seccions div.botonera { clear:both; padding:.7em 0; background-color:#f0f0ee; }
#escriptori_seccions div.botonera ul { overflow:hidden; width:100%; height:1.8em; list-style:none; padding:.2em 0; }
#escriptori_seccions div.botonera ul li { float:left; height:1.8em; padding:.1em 0 .1em 2em; }
#escriptori_seccions div.botonera ul li.e { float:right !important; padding-right:2em; }

#escriptori_seccions div.dalt { margin-top:2em; }
#escriptori_seccions div.rabillo_dalt { height:1em; margin-bottom:2em; /*background:transparent url(../img/botonera/rabillo_dalt_c_ccd7e2.gif) no-repeat center top;*/ }
#escriptori_seccions div.rabillo { clear:both; height:1em; /*background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom;*/ }

/* escriptori llistat */

#escriptori_seccions div.escriptori_items_llistat { overflow:hidden; float:left; width:74em; padding:1em 1em 2em 1em; margin-bottom:1em; border:1px solid #f2f2f2; }

#escriptori_seccions div.escriptori_items_cercador { overflow:hidden; padding:1em; margin:0 auto; background-color:#e9eef3; }
#escriptori_seccions div.escriptori_items_cercador h3 { margin-top:0; margin-bottom:.8em; }
#escriptori_seccions div.escriptori_items_cercador div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:0; }
#escriptori_seccions div.escriptori_items_cercador div.element { overflow:hidden; float:left; height:4.3em; margin-right:1em; }
#escriptori_seccions div.escriptori_items_cercador div.t7 { width:7em; }
#escriptori_seccions div.escriptori_items_cercador div.t7 input, #cercador div.t7 select { width:6em; }
#escriptori_seccions div.escriptori_items_cercador div.t8 { width:8em; }
#escriptori_seccions div.escriptori_items_cercador div.t8 input, #cercador div.t8 select { width:7em; }
#escriptori_seccions div.escriptori_items_cercador div.t10 { width:10em; }
#escriptori_seccions div.escriptori_items_cercador div.t10 input, #cercador div.t10 select { width:9em; }
#escriptori_seccions div.escriptori_items_cercador div.t12 { width:12em; }
#escriptori_seccions div.escriptori_items_cercador div.t12 input, #cercador div.t12 select { width:11em; }
#escriptori_seccions div.escriptori_items_cercador div.t15 { width:15em; }
#escriptori_seccions div.escriptori_items_cercador div.t15 input, #cercador div.t15 select { width:14em; }
#escriptori_seccions div.escriptori_items_cercador div.t18 { width:18em; }
#escriptori_seccions div.escriptori_items_cercador div.t18 input, #cercador div.t18 select { width:17em; }
#escriptori_seccions div.escriptori_items_cercador div.t23 { width:23em; }
#escriptori_seccions div.escriptori_items_cercador div.t23 input, #cercador div.t23 select { width:22em; }
#escriptori_seccions div.escriptori_items_cercador div.botonera { text-align:center; background-color:#ccd7e2 !important; }

#escriptori_seccions div.escriptori_items_cercador div.rabillo { clear:both; height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

#escriptori_seccions div.escriptori_items_llistat div.dades p.executant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }
#escriptori_seccions div.escriptori_items_llistat div.dades p.info { margin-top:1.5em; }

#escriptori_seccions div.escriptori_items_cercador div.botonera { text-align:center; background-color:#ccd7e2 !important; }

#escriptori_seccions div.escriptori_items_cercador div.rabillo { clear:both; height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

#escriptori_seccions div.escriptori_selector_seccions h3, div.escriptori_selector_uas h3 { margin-top:0; }
#escriptori_seccions p.executant { font-style:italic; padding-left:1.8em; background:transparent url(../img/executant.gif) no-repeat left .1em; }

#escriptori_seccions div.escriptori_items_llistat div.dades p.executant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }
#escriptori_seccions div.escriptori_items_llistat div.dades p.info { margin-top:1.5em; }

div.fitxes div.thead div.fitxa { width:26em; padding-left:5em; }
div.fitxes div.thead div.ordre { width:9em; }
div.fitxes div.thead div.publicacio { width:9em; }
div.fitxes div.thead div.caducitat { width:9em; }

div.fitxes div.thead div.fitxa a { width:25em; }
div.fitxes div.thead div.ordre a { width:8em; }
div.fitxes div.thead div.publicacio a { width:8em; }
div.fitxes div.thead div.caducitat a { width:8em; }

div.fitxes div.tbody div.fitxa { width:25em; padding-bottom:1em; padding-left:5.5em; background:transparent url(../img/taula_llistat/fitxa.gif) no-repeat 2em .8em; }
div.fitxes div.tbody div.fitxaCaducat { background:transparent url(../img/taula_llistat/fitxa_caducada.gif) no-repeat 2em .8em; }
div.fitxes div.tbody div.ordre { width:8em; }
div.fitxes div.tbody div.publicacio { width:8em; }
div.fitxes div.tbody div.caducitat { width:8em; }

div.fitxes div.tbody div.fitxa a, div.llistat div.tbody div.fitxa span { font:normal 1.1em Georgia, "Times New Roman", Times, serif; }
div.fitxes div.tbody div.td span.fitxa { font-style:italic; }