@charset "utf-8";

/* modul lateral normativa */

div.modulNormativa { padding-bottom:1em; }

div.modulNormativa div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulNormativa div.seleccionats ul li { padding-bottom:.4em; }
div.modulNormativa div.seleccionats ul li:hover { background-color:#ffc; }
div.modulNormativa div.seleccionats p.info { margin-top:0; }

/* escriptori normativa */

#escriptori_normativa { display:none; margin:0 0 4em 0; }
#escriptori_normativa h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; }

#escriptori_normativa div.botonera { clear:both; padding:.7em 0; background-color:#ccd7e2; }
#escriptori_normativa div.botonera ul { overflow:hidden; width:100%; height:1.8em; list-style:none; padding:.2em 0; }
#escriptori_normativa div.botonera ul li { float:left; height:1.8em; padding:.1em 0 .1em 2em; }
#escriptori_normativa div.botonera ul li.e { float:right !important; padding-right:2em; }

#escriptori_normativa div.dalt { margin-top:2em; }
#escriptori_normativa div.rabillo_dalt { height:1em; margin-bottom:2em; background:transparent url(../img/botonera/rabillo_dalt_c_ccd7e2.gif) no-repeat center top; }
#escriptori_normativa div.rabillo { clear:both; height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

/* escriptori llistat */

div.escriptori_items_llistat { overflow:hidden; float:left; width:45em; padding:1em 1em 2em 1em; margin-right:1em; margin-bottom:1em; border:1px solid #f2f2f2; }

div.escriptori_items_cercador { overflow:hidden; padding:1em; margin:0 auto; background-color:#e9eef3; }
div.escriptori_items_cercador h3 { margin-top:0; margin-bottom:.8em; }
div.escriptori_items_cercador div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:0; }
div.escriptori_items_cercador div.element { overflow:hidden; float:left; height:4.3em; margin-right:1em; }
div.escriptori_items_cercador div.t7 { width:7em; }
div.escriptori_items_cercador div.t7 input, #cercador div.t7 select { width:6em; }
div.escriptori_items_cercador div.t15 { width:15em; }
div.escriptori_items_cercador div.t15 input, #cercador div.t15 select { width:14em; }
div.escriptori_items_cercador div.t18 { width:18em; }
div.escriptori_items_cercador div.t18 input, #cercador div.t18 select { width:17em; }
div.escriptori_items_cercador div.botonera { text-align:center; }

div.escriptori_items_llistat div.dades p.executant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }
div.escriptori_items_llistat div.dades p.info { margin-top:1.5em; }

div.normativa div.thead div.titol { width:26em; padding-left:5em; }
div.normativa div.thead div.numero { width:9em; }
div.normativa div.thead div.data { width:9em; }

div.normativa div.thead div.titol a { width:25em; }
div.normativa div.thead div.numero a { width:8em; }
div.normativa div.thead div.data a { width:8em; }

div.normativa div.tbody div.titol { width:25em; padding-bottom:1em; padding-left:5.5em; background:transparent url(../img/taula_llistat/normativa.gif) no-repeat 2em .8em; }
div.normativa div.tbody div.numero { width:8em; }
div.normativa div.tbody div.data { width:8em; }

div.normativa div.tbody div.titol a, div.llistat div.tbody div.titol span { font:normal 1.1em Georgia, "Times New Roman", Times, serif; }
div.normativa div.tbody div.td span.titol { font-style:italic; }

div.escriptori_items_llistat p.paginacio { text-align:center; padding:.5em 1em; background-color:#ffecd9; }

/* escriptori seleccionarts*/

div.escriptori_items_seleccionats { overflow:hidden; float:left; width:26em; padding:1em 1em 2em 1em; margin-bottom:1em; border:1px solid #f2f2f2; }

div.escriptori_items_seleccionats ul { list-style:circle; margin-left:1.5em; margin-bottom:1em; }
div.escriptori_items_seleccionats ul li { padding:.2em 0; }
div.escriptori_items_seleccionats ul li div { overflow:hidden; width:100%; text-align:right; }
div.escriptori_items_seleccionats ul li span.norma { display:block; width:17.5em; float:left; text-align:left; }

