@charset "utf-8";

/* arbre */

div.escriptori_ua_arbre { padding-top:1.5em; }

div.ua_arbre ul.mollaPa { 
	list-style:none; 
	padding-left: 1em; 
	margin-bottom:1em; 
	background-color:#f7f7f7;
}
div.ua_arbre ul.mollaPa li { 
	display:inline; 
	padding-right:1.2em;
	margin-right: 0.8em;
	background:transparent url(../img/botons/mollaPa.gif) no-repeat right center;
}

div.ua_arbre div.nivells { 
	height:3em; 
	/*white-space:nowrap;*/
	
	overflow: hidden;	
	position: relative;	
}
div.ua_arbre div.nivells_contingut { 
    position:relative; 
    left:0; 
    width:10000em;    
    height: 100%;
}

div.ua_arbre div.nivells ul.nivell { 
	float:left;
	padding-left: 1em;
	padding-right: 1em; 
	width:22em;
	list-style:none; 
	border-bottom:0;
}
div.ua_arbre div.nivells ul.nivell li div { 
	overflow:hidden; 
	width:100%;
	min-height:1.8em; 
	padding:.5em 0;
}
div.ua_arbre div.nivells ul.nivell li a { display:block; float:left; }
div.ua_arbre div.nivells ul.nivell li a.selecciona {
	width: 89.9%; 
	/*padding-left:1em;*/
}
div.ua_arbre a.triat { color: #F47900; }
div.ua_arbre div.nivells ul.nivell li a.fills {
	background: url(../img/mollaPa/flecha.gif) 100% 50% no-repeat; 
	width: 9.9%;
	/*width: 9px;*/ 
	height: 14px; 
	display:block; 
	float:left; 
	/*margin-right:2em;*/
}

div.ua_arbre div.nivells ul.nivell span.afegit { font-weight:bold; padding-left:1.8em; margin-left:7em; background:transparent url(../img/botons/afegit.gif) no-repeat left center; }

div.ua_arbre div.nivells ul.nivell li div.carregant { display:none; width:40.8em; font-style:italic; padding:1em 0 1em 3em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }
