@charset "utf-8";

/* modul lateral documents */

div.modulDocuments { padding-bottom:1em; }

div.modulDocuments ul.idiomes { 
    overflow:hidden; 
    width:22em; 
    list-style:none; 
    padding:.5em 0 0 0; 
    margin-bottom:1em;
    color: #0099CC;
}
div.modulDocuments ul.idiomes li { float:left; height:1.5em; padding:.3em 0.5em 0.3em 0.5em; margin:0; }
div.modulDocuments ul.idiomes li.introIdiomas {padding-left: 0; color: #000;}
div.modulDocuments ul.idiomes li.seleccionat { background-color:#fff; color: #000; font-weight: bold;}
div.modulDocuments ul.idiomes li.seleccionat a { font-weight:bold; color:#000; text-decoration:none; }

div.modulDocuments div.seleccionats div { display:none; }
div.modulDocuments div.seleccionats div.seleccionat { display:block; }

div.modulDocuments div.seleccionats ul li div { display:block; width:21em; text-align:right; }
div.modulDocuments div.seleccionats ul li div span.doc { display:block; width:14em; float:left; text-align:left; }


div.modulDocuments div.seleccionats ul { list-style:circle; margin-left:2em; }
div.modulDocuments div.seleccionats ul li { padding-bottom:.4em; }
div.modulDocuments div.seleccionats ul li:hover { background-color:#ffc; }
div.modulDocuments div.seleccionats p.info { margin-top:0; }
