@charset "utf-8";

#escriptori_procediments {
    display:none;
}

#escriptori_procediments .escriptori_detall {
    display: block;
}

/* modul lateral procediments */

div.modulprocediments { padding-bottom:1em; }
div.modulprocediments div.seleccionats ul li { padding-bottom:.4em; }
div.modulprocediments div.seleccionats p.info { margin-top:0; }


/* escriptori llistat */

div.escriptori_items_llistat {
    overflow:hidden;
    float:left;
    width: 779px;
}

div.escriptori_items_cercador h3 { margin-top:0; margin-bottom:.8em; }
div.escriptori_items_cercador div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:0; }
div.escriptori_items_cercador div.element { overflow:hidden; float:left; height:4.3em; margin-right:1em; }
div.escriptori_items_cercador div.t7 { width:7em; }
div.escriptori_items_cercador div.t7 input, #cercador div.t7 select { width:6em; }
div.escriptori_items_cercador div.t15 { width:15em; }
div.escriptori_items_cercador div.t15 input, #cercador div.t15 select { width:14em; }
div.escriptori_items_cercador div.t18 { width:18em; }
div.escriptori_items_cercador div.t18 input, #cercador div.t18 select { width:17em; }

#escriptori_procediments div.escriptori_items_cercador div.rabillo { clear:both; height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

div.escriptori_items_llistat div.dades p.executant {
    display:block;
    font-style:italic;
    padding:.5em 0 .5em 2.6em;
    background:#fff url(../img/executant.gif) no-repeat 1em 50%;
}
div.escriptori_items_llistat div.dades p.info { margin-top:1.5em; }


/* escriptori seleccionarts*/

div.escriptori_items_seleccionats {
    overflow:hidden;
    float:right;
    background: #F3F3F3;
    border: 1px solid #D3D3D3;
    margin-bottom: 33px;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    width: 286px;
    font: 13px Arial, Helvetica, Sans-serif;
}
div.escriptori_items_seleccionats .interior{
    padding: 15px;
}
div.escriptori_items_seleccionats .interior h3{
    font: bold 11px Verdana, Helvetica, Sans-serif;
    text-transform: uppercase;
}


/* opcions pestanyes */

.opcions {
    height:37px;
    list-style:none;
    padding-top:1em;
    margin-left:0;
    /*border-bottom: 1px solid #D3D3D3;*/
}
.opcions li {
    display:block;
    float:left;
    position:relative;
    top:9px;
    height: 27px;
    line-height: 27px;
    margin-right: 3px;
    z-index:1;
    padding: 0 20px;
    text-align: center;
    border: 1px solid #D3D3D3;
    border-bottom: none;
    padding-left: 35px;
    background-color: White;
    background-repeat: no-repeat;
    background-position: 11px 50%;
    border-radius: 15px 15px 0 0;
}
.opcions li a{
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}
.opcions li a:hover{
    color: Black;
    text-decoration: underline;
}
.opcions li.actiu {
    font-weight:bold;
    background-color:#fff;
    border-top:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-left:1px solid #D3D3D3;
    height: 36px;
    line-height: 36px;
    top: 1px;
}
.opcions li.actiu a {
    color: Black;
    text-decoration:none;
}
.opcions li.actiu a:hover {
    cursor:default;
}
.opcions li.C {
    background-image: url(../img/pestanyas/ico_buscador_off.gif);
}
.opcions li.actiu.C {
    background-image: url(../img/pestanyas/ico_buscador.gif);
}


/* resultats */

#resultats_procediments {
    clear:both;
    border: 1px solid #D3D3D3;
    border-radius: 0 10px 10px 10px;
    background-color: White;
}
.resultats div.resultats { display:none; }

.resultats div.actiu { display:block !important; }

.resultats p.executant {
    font-size:1.3em;
    font-style:italic;
    padding:1em 0 1em 1.6em;
    margin-left: 1em;
    background:#fff url(../img/executant.gif) no-repeat 0 1.1em;
}

.resultats p.info {
    padding: 10px 21px 0 21px;
    font: 13px Arial, Helvetica, Sans-serif;
    color: #333333;
}
.resultats p.info strong { text-transform:lowercase; }

.resultats p.noItems {
    font-size:1.3em;
    padding: 1em 0 1em 2em !important;
    margin-left: 1em;
    background:#fff url(../img/missatge/alerta.gif) no-repeat 0 50%;
}


div.normatives div.nom{
    width: 525px !important;
    padding-left: 21px;
}
div.normatives div.data,
div.normatives div.dataBulleti {
    width: 112px !important;
}


/* Navegador multipágina */

.resultats p.paginacio {
    font: 15px Arial, Helvetica, Sans-serif;
    color: #333333;
    text-align:left;
    padding: 13px 20px 10px 20px;
}
.resultats p.paginacio a{
    color: #333333;
    text-decoration: underline;
}
.resultats p.paginacio a:hover{
    color: #F47900;
}
.resultats p.paginacio strong{
    font-size: 25px;
    color: #F47900;
}
.resultats p.paginacio a,
.resultats p.paginacio strong{
    margin: 0 5px;
}


/* cercador */

#cercador_procediments_contingut {
    overflow:hidden;
    padding:1em;
    margin:0 auto;
}
#cercador_procediments div.fila {
    overflow:hidden;
    width:100%;
    padding:0;
    margin-bottom:1em;
}
#cercador_procediments div.element {
    overflow:hidden;
    float: left;
    height:54px;
}
#cercador_procediments div.element .control{
    padding-right: 20px;
}
#cercador_procediments div.element:last-child .control{
    padding-right: 2px;
}
#cercador_procediments input[type=text], #cercador_procediments select, #cercador select{
    width: 99.9%;
}
#cercador_procediments input[type=text] {
    height: 20px;
}

#cercador_procediments div input.on { background-color:#ddfeff !important; border:1px solid #7f9db9 !important; }
#cercador div input.t17 { width:12.5em !important; }

#cercador_procediments input.text { width:15.5em; background-color:#fff; border:1px solid #7f9db9; }

#cercador_procediments ul.seleccioMultiple { overflow:auto; width:20em; height:5.5em; background-color:#fff; border:1px solid #7f9db9; }
#cercador_procediments ul.seleccioMultiple li { padding-left:.5em; }
#cercador_procediments ul.enLinia li { display:inline; padding-left:.5em; border-left:1px solid #e0e0e0; }

#cercador_procediments div.etiqueta, #cercador label.etiqueta {font: 13px Arial, Helvetica, Sans-serif;}
#cercador_procediments div.etiqueta:after { content:":"; }

#cercador_procediments label.checkbox {padding-right: 2em;}

#cercador_procediments div.control {padding-top: 2px;}
#cercador_procediments div.control ul { list-style:none; }

#cercador_procediments div.noClear{clear: none !important;}
#cercador_procediments div.botonera {clear: both; float:right; }
#cercador_procediments .botonera .boton{margin-left: 11px;}

#cercador_procediments .botonera .btn.consulta > span > span{
    background: url(../img/pestanyas/ico_buscador.gif) 15px 50% no-repeat;
}
#cercador_procediments .botonera .btn.borrar > span > span{
    background: url(../img/botons/iconos/borrar.png) 15px 50% no-repeat;
}
#cercador_procediments .botonera .btn.torna > span > span{
    background: url(../img/botons/iconos/volver.gif) 15px 50% no-repeat;
}
#cercador_procediments .botonera .btnGenerico a span span{padding-left : 35px;}


/*Listado*/
#escriptori_procediments div.thead div.procediment {
    margin-left: 1em;
    width: 40em !important;
}

#escriptori_procediments div.tbody div.procediment {
    margin-left: 1em;
    width: 27.5em !important;
    padding-left: 27.5px !important;
    /*background:transparent url(../img/taula_llistat/normativa.gif) no-repeat 0em .1em;*/
    background: transparent url("../img/taula_llistat/procediment.gif") no-repeat 0px 8px;
}

#escriptori_procediments div.tbody div.procedimentCaducat {
    margin-left: 1em;
    width: 27.5em !important;
    padding-left: 27.5px !important;
    background: transparent url("../img/taula_llistat/procediment_caducat.gif") no-repeat 0px 8px;
}

#escriptori_procediments div.data_butlleti, div#escriptori_procediments div.data {
    line-height: 1em;
    width: 6em !important;
}

#escriptori_procediments div.familia, #escriptori_procediments div.fechaActualizacion  {
    width:160px;
}
#escriptori_procediments div.familia, #escriptori_procediments div.comun  {
   width: 70px;
}

