@charset "utf-8";

/* escriptori boib */

#escriptori_traspas { display:none; margin:0 0 4em 0; }
#escriptori_traspas h2 { font-size:1.4em; margin-top:0; margin-bottom:.5em; }

#escriptori_traspas div.botonera { clear:both; padding:.7em 0; background-color:#f0f0ee; }
#escriptori_traspas div.botonera ul { overflow:hidden; width:100%; height:1.8em; list-style:none; padding:.2em 0; }
#escriptori_traspas div.botonera ul li { float:left; height:1.8em; padding:.1em 0 .1em 2em; }
#escriptori_traspas div.botonera ul li.e { float:right !important; padding-right:2em; }

#escriptori_traspas div.dalt { margin-top:2em; }
#escriptori_traspas div.rabillo_dalt { height:1em; margin-bottom:2em; /*background:transparent url(../img/botonera/rabillo_dalt_c_ccd7e2.gif) no-repeat center top;*/ }
#escriptori_traspas div.rabillo { clear:both; height:1em; /*background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom;*/ }

/* escriptori llistat */

#escriptori_traspas div.escriptori_items_llistat { overflow:hidden; float:left; width:74em; padding:1em 1em 2em 1em; margin-right:1em; margin-bottom:1em; border:1px solid #f2f2f2; }

#escriptori_traspas div.escriptori_items_cercador { overflow:hidden; padding:1em; margin:0 auto; background-color:#e9eef3; }
#escriptori_traspas div.escriptori_items_cercador h3 { margin-top:0; margin-bottom:.8em; }
#escriptori_traspas div.escriptori_items_cercador div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:0; }
#escriptori_traspas div.escriptori_items_cercador div.element { overflow:hidden; float:left; height:4.3em; margin-right:1em; }
#escriptori_traspas div.escriptori_items_cercador div.t7 { width:7em; }
#escriptori_traspas div.escriptori_items_cercador div.t7 input, #cercador div.t7 select { width:6em; }
#escriptori_traspas div.escriptori_items_cercador div.t10 { width:10em; }
#escriptori_traspas div.escriptori_items_cercador div.t10 input, #cercador div.t10 select { width:9em; }
#escriptori_traspas div.escriptori_items_cercador div.t15 { width:15em; }
#escriptori_traspas div.escriptori_items_cercador div.t15 input, #cercador div.t15 select { width:14em; }
#escriptori_traspas div.escriptori_items_cercador div.t18 { width:18em; }
#escriptori_traspas div.escriptori_items_cercador div.t18 input, #cercador div.t18 select { width:17em; }
#escriptori_traspas div.escriptori_items_cercador div.botonera { text-align:center; background-color:#ccd7e2 !important; }

#escriptori_traspas div.escriptori_items_cercador div.rabillo { clear:both; height:1em; background:transparent url(../img/botonera/rabillo_c_ccd7e2.gif) no-repeat center bottom; }

#escriptori_traspas div.escriptori_items_llistat div.dades p.executant { display:block; font-style:italic; padding:.5em 0 .5em 2.6em; background:#fff url(../img/executant.gif) no-repeat 1em 50%; }
#escriptori_traspas div.escriptori_items_llistat div.dades p.info { margin-top:1.5em; }

#escriptori_traspas div.boib div.thead div.titol { width:26em; padding-left:5em; }
#escriptori_traspas div.boib div.thead div.numero { width:9em; }
#escriptori_traspas div.boib div.thead div.registre { width:9em; }
#escriptori_traspas div.boib div.thead div.data { width:9em; }

#escriptori_traspas div.boib div.thead div.titol a { width:25em; }
#escriptori_traspas div.boib div.thead div.numero a { width:8em; }
#escriptori_traspas div.boib div.thead div.registre a { width:8em; }
#escriptori_traspas div.boib div.thead div.data a { width:8em; }

#escriptori_traspas div.boib div.tbody div.titol { width:25em; padding-bottom:1em; padding-left:5.5em; background:transparent url(../img/taula_llistat/fitxa.gif) no-repeat 2em .8em; }
#escriptori_traspas div.boib div.tbody div.numero { width:8em; }
#escriptori_traspas div.boib div.tbody div.registre { width:8em; }
#escriptori_traspas div.boib div.tbody div.data { width:8em; }

#escriptori_traspas div.boib div.tbody div.titol a, div.llistat div.tbody div.titol span { font:normal 1.1em Georgia, "Times New Roman", Times, serif; }
#escriptori_traspas div.boib div.tbody div.td span.titol { font-style:italic; }

#escriptori_traspas div.escriptori_items_llistat p.paginacio { text-align:center; padding:.5em 1em; background-color:#ffecd9; }
