@charset "utf-8";

/* gestio traspas */

#gestioTraspas { display:none; margin-left:1em; }

/* llistats table */

div.llistat div.thead div.titol { width:57em; padding-left:5em; }
div.llistat div.thead div.numero { width:9em; }
div.llistat div.thead div.tipus { width:13em; }
div.llistat div.thead div.data { width:9em; }

div.llistat div.tbody div.titol { width:41em; padding-bottom:1em; padding-left:4em; padding-right: 1em; background:transparent url(../img/taula_llistat/normativa.gif) no-repeat 2em 7px; }
div.llistat div.tbody div.numero { width:6.5em; }
div.llistat div.tbody div.tipus { width:9em; }
div.llistat div.tbody div.data { width:7em; }

div.llistat div.tbody div.td span.titol { font-style:italic; }