@charset "utf-8";

/* gestio traspas */

#gestioTraspas { display:none; margin-left:1em; }

/* llistats table */

div.llistat div.thead div.titol { width:57em; padding-left:5em; }
div.llistat div.thead div.numero { width:9em; }
div.llistat div.thead div.tipus { width:13em; }
div.llistat div.thead div.data { width:9em; }

div.llistat div.tbody div.titol { width:41em; padding-bottom:1em; padding-left:4em; padding-right: 1em; background:transparent url(../img/taula_llistat/normativa.gif) no-repeat 2em 7px; }
div.llistat div.tbody div.numero { width:6.5em; }
div.llistat div.tbody div.tipus { width:9em; }
div.llistat div.tbody div.data { width:7em; }

div.llistat div.tbody div.td span.titol { font-style:italic; }

/*Detalle*/
#escriptori_detall #modulLateral{
    margin-top: 0;
}

#escriptori_detall #modulLateral div.modul{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;  
    overflow: hidden;
    padding: 15px;
    margin-bottom: 33px;
    position:relative;
    
    border-radius: 15px 15px 15px 15px;
}

#escriptori_detall #modulLateral div.modul a.modul{
    position:absolute;
    right: 9px;
    top: 9px;
    display:block;
    text-indent: -1000px;
    width: 16px;
    height: 16px;
    background-image: url(../img/botons/desplegar.png);
}

#escriptori_detall #modulLateral .modul fieldset legend{
    font: bold 11px Verdana, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}

#escriptori_detall #modulLateral .botonera{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
}

#escriptori_detall #modulLateral .botonera ul{
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: 2em;
}

#escriptori_detall #modulLateral .left {

    clear: both;
    float:left;
    width: 49%;
    padding-bottom: 10px;
}

#escriptori_detall #modulLateral .right {
    float:left;
    width: 49%;
    padding-bottom: 10px;
}

#escriptori_detall #modulLateral .left input,
#escriptori_detall #modulLateral .right input {
    width: 80%;
}