@charset "utf-8";

div.llistat div.nom { 
    width: 242px;   
    padding-left: 21px;
}
div.llistat div.tbody div.nom {
    width: 213px;   
    padding-left: 50px;    
    background: url(../img/taula_llistat/personal.gif) 21px 7px no-repeat;   
}
div.llistat div.codi{
    width: 88px;
    padding: 0 12px;
}
div.llistat div.ua { 
    width: 186px;
    paddig: 0 12px;
}
div.llistat div.email { 
    width: 186px;
    padding: 0 12px;
}
div.llistat div.thead div.epui { 
    padding: 0 12px;
}