@charset "utf-8";

#submenu_contingut ul li.seleccionat {
    border: 0 none;
}

#modul_seccions li {
    cursor: pointer;
}

/* llistats table */
div.llistat div.nom,
div.llistat div.tbody div.nom {
    width: 85%;
    padding-left: 21px;
}
.llistat .tbody .pujarSeccio span {
    display: none;
}
.llistat .tbody a.pujarSeccio {
    display: block;
    height: 25px;
    width: 72px;
    background: url(../img/taula_llistat/subir.png) 0 0 no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.llistat .tbody a.pujarSeccio:hover {
    background-position: 0 -25px;
}
.ordre {
	padding-right: 10px;
}
div.listaOrdenable div.fitxaCaducat {
    background: url("../img/taula_llistat/fitxa_caducada.gif") no-repeat scroll 0px 0px transparent;
    padding-left: 20px;
}
div.listaOrdenable div.fitxaNoCaducat {
    background: url("../img/taula_llistat/fitxa.gif") no-repeat scroll 0px 0px transparent;
    padding-left: 20px;
}

#modul_fitxes .listaOrdenable li span.fitxa{
    cursor: pointer;    
}
#modul_fitxes .listaOrdenable li span.fitxa:hover{
    text-decoration: underline;
}
