@charset "utf-8";

/* menu */

#menu_contingut { padding-bottom:.6em; }

/* detall */

#carregantDetall { font-size:1.3em; font-style:italic; padding:1em 0 1em 1.6em; background:#fff url(../img/executant.gif) no-repeat left center; }

#escriptori_detall { display:none; margin:0 0 4em 0; }

#escriptori_detall #modulLateral{
    margin-top: 0;
}
#escriptori_detall #modulLateral div.modul{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;  
    overflow: hidden;
    padding: 15px;
    margin-bottom: 33px;
    position:relative;
    
    border-radius: 15px 15px 15px 15px;
}
#escriptori_detall #modulLateral div.modul a.modul{
    position:absolute;
    right: 9px;
    top: 9px;
    display:block;
    text-indent: -1000px;
    width: 16px;
    height: 16px;
    background-image: url("../img/botons/desplegar.png");

}
#escriptori_detall #modulLateral .modul fieldset legend{
    font: bold 11px Verdana, Helvetica, Sans-serif;
    color: #333333;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}
#escriptori_detall #modulLateral .botonera{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
}
#escriptori_detall #modulLateral .botonera ul{
    padding: 0;
    border: none;
    border-radius: 0;
}


/* error */

#error { color:#000; padding:0 1em 1em 7em; margin:3em 0; background:#fff url(../img/missatge/error.gif) no-repeat 1em 0; }
#error h1 { font-size:1.5em; font-weight:normal; color:#900; padding:0; background:none; }

/* ajuda */

#ajuda { position:fixed; right:.5em; bottom:.5em; width:15em; height:20em; background-color:#fff; border:2px solid #000; }

#ajuda div.botonera { height:2em; text-align:right; background-color:#000; }
#ajuda div.botonera a { font-size:.9em; color:#fff; margin-right:.5em; }
#ajuda div.botonera a:hover { color:#ff9; background-color:#000; }

#ajuda iframe { width:15em; height:18em; }