<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >

     <servlet>
        <servlet-name>apiArxiuServlet</servlet-name>
        <servlet-class>es.caib.rolsac.api.v2.arxiu.ArxiuServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- security-role-ref>
            <role-name>sacsystem</role-name>
            <role-link>RSC_SYSTEM</role-link>
        </security-role-ref>
        <security-role-ref>
           <role-name>sacadmin</role-name>
           <role-link>RSC_ADMIN</role-link>
        </security-role-ref>
        <security-role-ref>
           <role-name>sacsuper</role-name>
           <role-link>RSC_SUPER</role-link>
        </security-role-ref>
        <security-role-ref>
           <role-name>sacoper</role-name>
           <role-link>RSC_OPER</role-link>
        </security-role-ref-->
    </servlet>

    <servlet-mapping>
        <servlet-name>apiArxiuServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping> 

	<!-- ************************ CONFIGURACION SEGURIDAD ************************-->
	
	<!-- security-constraint>
	    <web-resource-collection>
	        <web-resource-name>api</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>RSC_SYSTEM</role-name>
	        <role-name>RSC_ADMIN</role-name>
	        <role-name>RSC_SUPER</role-name>
	        <role-name>RSC_OPER</role-name>
	    </auth-constraint>
	</security-constraint>
	
	<login-config>
	    <auth-method>BASIC</auth-method>
	    <realm-name><![CDATA[ROL - SAC]]></realm-name>
	</login-config>
	
	<security-role>
	    <role-name>RSC_SYSTEM</role-name>
	</security-role>
	<security-role>
	    <role-name>RSC_ADMIN</role-name>
	</security-role>
	<security-role>
	    <role-name>RSC_SUPER</role-name>
	</security-role>
	<security-role>
	    <role-name>RSC_OPER</role-name>
	</security-role-->

</web-app>
