<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
   <distributable/>

   <context-param>
      <param-name>UDDI_USER</param-name>
      <param-value>system</param-value>

      <description><![CDATA[Usuario para acceder al registro UDDI]]></description>

   </context-param>
   <context-param>
      <param-name>UDDI_PASS</param-name>
      <param-value>system1</param-value>

      <description><![CDATA[Clave para acceder al registro UDDI]]></description>

   </context-param>

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

      <listener>
		<listener-class>es.caib.utilities.sesion.NsesionesRolsac</listener-class>
    </listener>

   <servlet>
      <servlet-name>TestServlet</servlet-name>
      <servlet-class>org.ibit.rol.sac.back.servlet.TestServlet</servlet-class>

   </servlet>

 <servlet>
    <servlet-name>myjsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
        <param-name>fork</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>xpoweredBy</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>errorOnUseBeanInvalidClassAttribute</param-name>
        <param-value>false</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
    <security-role-ref>
       <role-name>sacsystem</role-name>
       <role-link>RSC_SYSTEM</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacadmin</role-name>
       <role-link>RSC_ADMIN</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacsuper</role-name>
       <role-link>RSC_SUPER</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacoper</role-name>
       <role-link>RSC_OPER</role-link>
    </security-role-ref>
</servlet>

<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServle</servlet-class>
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
        <param-name>convertNull</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>debug</param-name>
        <param-value>0</param-value>
    </init-param>
    <init-param>
        <param-name>detail</param-name>
        <param-value>0</param-value>
    </init-param>
    <load-on-startup>10</load-on-startup>
    <security-role-ref>
       <role-name>sacsystem</role-name>
       <role-link>RSC_SYSTEM</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacadmin</role-name>
       <role-link>RSC_ADMIN</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacsuper</role-name>
       <role-link>RSC_SUPER</role-link>
    </security-role-ref>
    <security-role-ref>
       <role-name>sacoper</role-name>
       <role-link>RSC_OPER</role-link>
    </security-role-ref>
</servlet>

<servlet>
    <servlet-name>SubscripcionsSchedulerServlet</servlet-name>
    <display-name>Quartz subscripcions Servlet</display-name>
    <servlet-class>org.ibit.rol.sac.back.subscripcions.job.SubscripcionsSchedulerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet>
  <servlet-name>Configuracion</servlet-name>
  <servlet-class>org.ibit.rol.sac.back.action.contenido.normativa.traspasa.util.Configuracion</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>  

  <!-- @jspc.mappings -->

<servlet-mapping>
    <servlet-name>myjsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
</servlet-mapping>

   <servlet-mapping>
      <servlet-name>TestServlet</servlet-name>
      <url-pattern>/testWS</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>

  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
</mime-mapping>

   <welcome-file-list>
      <welcome-file>/index.jsp</welcome-file>
   </welcome-file-list>

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

  <security-constraint>
    <web-resource-collection>
        <web-resource-name>sacbackold</web-resource-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>RSC_SYSTEM</role-name>
        <role-name>RSC_ADMIN</role-name>
        <role-name>RSC_SUPER</role-name>
        <role-name>RSC_OPER</role-name>
    </auth-constraint>
</security-constraint>

<!--
<login-config>
    <auth-method>FORM</auth-method>
    <realm-name><![CDATA[Regions On Line - SAC]]></realm-name>
    <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/login.jsp</form-error-page>
    </form-login-config>
</login-config>
-->
<login-config>
    <auth-method>BASIC</auth-method>
    <realm-name><![CDATA[ROL - SAC]]></realm-name>
</login-config>

<security-role>
    <role-name>RSC_SYSTEM</role-name>
</security-role>
<security-role>
    <role-name>RSC_ADMIN</role-name>
</security-role>
<security-role>
    <role-name>RSC_SUPER</role-name>
</security-role>
<security-role>
    <role-name>RSC_OPER</role-name>
</security-role>

 <env-entry>
  <description>Tipo normativa 0</description>
  <env-entry-name>norma_0</env-entry-name>
  <env-entry-value>73508.Varis</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>

<env-entry>
  <description>Tipo normativa 1</description>
  <env-entry-name>norma_1</env-entry-name>
  <env-entry-value>1.Ley</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
<env-entry>
  <description>Tipo normativa 2</description>
  <env-entry-name>norma_2</env-entry-name>
  <env-entry-value>2.Decreto</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
  <env-entry>
  <description>Tipo normativa 3</description>
  <env-entry-name>norma_3</env-entry-name>
  <env-entry-value>20.Decreto del President</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
  <env-entry>
  <description>Tipo normativa 4</description>
  <env-entry-name>norma_4</env-entry-name>
  <env-entry-value>4.Orden</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
  <env-entry>
  <description>Tipo normativa 5</description>
  <env-entry-name>norma_5</env-entry-name>
  <env-entry-value>11.Resolucion</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
  <env-entry>
  <description>Tipo normativa 6</description>
  <env-entry-name>norma_6</env-entry-name>
  <env-entry-value>9.Acuerdo</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>
  <env-entry>
  <description>Tipo normativa 7</description>
  <env-entry-name>norma_7</env-entry-name>
  <env-entry-value>21.Acuerdo del Consell</env-entry-value>
  <env-entry-type>java.lang.String</env-entry-type>    
</env-entry>

</web-app>
